<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
        <main class="solution-overlay">
            <div class="banner detail company">
                <div class="layout-md">
                    <div class="tit-wrap" data-aos="fade">
                        <h1 class="tit">COMPANY</h1>
                        <p class="sub-tit">
                            YJ Innovation 소개
                        </p>
                    </div>
                </div>
            </div>
            <div class="layout-md">
                <div class="sol-tit">
                    <p>와이제이이노베이션은 풍부한 Retail Solution 개발실적과<br>운영경험 및 업무 이해력과 기술력으로 고객에게 무한신뢰를 제공하는<br><strong>Retail
                            Solution 전문가 조직</strong>입니다.
                    </p>
                </div>
            </div>
            <section class="sec1">
                <div class="layout-md">
                    <ul class="sol-list">
                        <li class="active">
                            <a href="javascript:void(0);">
                                <img src="/assets/img/solution01.png" alt="">
                                <div class="sol-content">
                                    <div class="sol-content-top">
                                        <h2>경험</h2>
                                        <h1>Experience</h1>
                                    </div>
                                    <div class="sol-content-bottom">
                                        <p>실패와 성공 <strong>경험</strong>을 공유하여<br>잘못은 반성하고 잘한 점은 더욱 발전시킴</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="/assets/img/solution02.png" alt="">
                                <div class="sol-content">
                                    <div class="sol-content-top bounce">
                                        <h2>신뢰</h2>
                                        <h1>Trust</h1>
                                    </div>
                                    <div class="sol-content-bottom">
                                        <p>항상 고객의 입장에서 생각하며,<br><strong>신뢰</strong>를 제공하는 파트너가 되고자 함</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="/assets/img/solution03.png" alt="">
                                <div class="sol-content">
                                    <div class="sol-content-top">
                                        <h2>상생</h2>
                                        <h1>Win-Win</h1>
                                    </div>
                                    <div class="sol-content-bottom">
                                        <p>회사와 직원과의 동등한 입장에서<br>서로의 발전을 위해 <strong>상생</strong>관계를 유지</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="sec2">
                <div class="layout-md visible">
                    <div class="tit-wrap" data-aos="fade-up" data-aos-duration="1300">
                        <h1>e_Commerce와 4차 산업혁명 시대에<br>급변하는 리테일 유통업무를 최적으로<br>지원하는 <strong>IT Solution Provider</strong>
                        </h1>
                        <p>다양하고 복잡한 리테일 솔루션(위탁/사입, O2O, e_Com) 구축을 위한<br>해박한 지식과 구축 경험을 제공합니다.</p>
                    </div>
                </div>
            </section>
            <div class="layout-md">
                <div class="sol-tit">
                    <p>YJ Innovation은 리테일 패션 도·소매유통에 대한 표준과<br>차별화를 제공하는<strong>검증된 파트너</strong>입니다.</p>
                </div>
            </div>
            <div class="sol-table">
                <div class="layout-md">

                    <table class="pc-tbl" data-aos="fade-right" data-aos-duration="1500">
                        <tr>
                            <th>회사명</th>
                            <td>와이제이이노베이션㈜</td>
                            <th>대표자</th>
                            <td>박명관</td>
                        </tr>
                        <tr>
                            <th>설립일</th>
                            <td>2013.06</td>
                            <th>신용등급</th>
                            <td>ISO27001인증 (고객정보 보호관리) 기업신용평가 B++</td>
                        </tr>
                        <tr>
                            <th>소재지</th>
                            <td>서울시 성동구 연무장5가길 7, 현대테라스타워 E903호</td>
                            <th>연락처</th>
                            <td>Tel : 02-2038-4513<br>E-mail : mgpark8@yjinno.co.kr<br>Fax : 050) 4152 9002</td>
                        </tr>
                        <tr>
                            <th>홈페이지</th>
                            <td><a href="/">http://www.yjinno.co.kr</a></td>
                        </tr>
                    </table>

                    <table class="m-tbl" data-aos="fade-right" data-aos-duration="1500">
                        <tr>
                            <th>회사명</th>
                            <td>와이제이이노베이션㈜</td>
                        </tr>
                        <tr>
                            <th>대표자</th>
                            <td>박명관</td>
                        </tr>
                        <tr>
                            <th>설립일</th>
                            <td>2013.06</td>
                        </tr>
                        <tr>
                            <th>신용등급</th>
                            <td>ISO27001인증 (고객정보 보호관리) 기업신용평가 B++</td>
                        </tr>
                        <tr>
                            <th>소재지</th>
                            <td>서울시 성동구 연무장5가길 7, 현대테라스타워 E903호</td>
                        </tr>
                        <tr>
                            <th>연락처</th>
                            <td>Tel : 02-2038-4513 <br> E-mail : mgpark8@yjinno.co.kr<br>Fax : 050) 4152 9002</td>
                        </tr>
                        <tr>
                            <th>홈페이지</th>
                            <td><a href="/">http://www.yjinno.co.kr</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="layout-md">
                <div class="sol-tit">
                    <p>YJ Innovation <strong>솔루션의 새 역사</strong>를 쓰다</p>
                </div>
            </div>
            <div class="sol-history">
                <div class="layout-md">
                    <table>
                        <tr data-aos="fade-right" data-aos-duration="1500">
                            <th class="year">20<b>23</b><span>~</span><br>20<b>22</b></th>
                            <td>
                                <ul class="project">
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2023</div>
                                        <div>
                                            고객통합 마케팅 솔루션 구축<br>SNS 연동 채널 개발
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2022</div>
                                        <div>
                                            해외직구(특송) Package 구축
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr data-aos="fade-right" data-aos-duration="1500">
                            <th class="year">20<b>21</b><span>~</span></th>
                            <td>
                                <ul class="project">
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2021</div>
                                        <div>
                                            e_COM 솔루션 구축
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2021</div>
                                        <div>
                                            쇼핑몰, SCM, OMS(주문발주)
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2021</div>
                                        <div>
                                            프로세스자동화(RPA)
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr data-aos="fade-right" data-aos-duration="1500">
                            <th class="year">20<b>20</b><span>~</span><br>20<b>17</b></th>
                            <td>
                                <ul class="project">
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2020</div>
                                        <div>
                                            골프유통 솔루션
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2020</div>
                                        <div>
                                            Global SI 프로젝트 수행
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2017</div>
                                        <div>
                                            ISO 27001 인증 취득
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2017</div>
                                        <div>
                                            정부전자영수증 시범사업 수행
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr data-aos="fade-right" data-aos-duration="1500">
                            <th class="year">20<b>16</b><span>~</span><br>20<b>12</b></th>
                            <td>
                                <ul class="project">
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2013</div>
                                        <div>
                                            YJ Innovaition 설립
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2021</div>
                                        <div class="sub-year-col">
                                            패션유통 IT 플랫폼 구축
                                            <ul>
                                                <li>- 가두점,백화점</li>
                                                <li>- 여성복, 남성복</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2012</div>
                                        <div>
                                            패션유통 IT 솔루션 사업전개
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr data-aos="fade-right" data-aos-duration="1500">
                            <th class="year">20<b>11</b><span>~</span><br>19<b>97</b></th>
                            <td>
                                <ul class="project">
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">2000</div>
                                        <div>
                                            패션유통 사업 지원
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-year" style="align-self: flex-start;">1997</div>
                                        <div>
                                            패션유통 IT 솔루션 사업전개
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
        <%- include('footer.ejs') %>
            <script src="/assets/lib/jquery.min.js"></script>
            <script src="/assets/lib/aos.js"></script>
            <script src="/assets/lib/gsap.min.js"></script>
            <script src="/assets/js/main.js"></script>

</body>

</html>