<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
    <title>YJ - 온라인문의</title>
    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
    <!-- <script src="/assets/lib/recaptcha.js" async defer></script> -->
    <!-- <link rel="stylesheet" href="/assets/css/main.css"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="/assets/lib/aos.css">
    </link>
    <link rel="stylesheet" href="/assets/lib/sweetalert2.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
    <script src="/assets/lib/recaptcha.js" async defer></script>
</head>

<body>
    <%- include('header.ejs') %>
        <main>
            <div class="banner detail contact">
                <div class="layout-md">
                    <div class="tit-wrap" data-aos="fade">
                        <h1 class="tit">Contact</h1>
                        <p class="sub-tit">
                            온라인 문의
                        </p>
                    </div>
                </div>
            </div>
            <div class="layout-md">
                <div class="page-tit type3">
                    <h2>온라인문의</h2>
                    <p>YJ Innovation의 전문컨설턴트에게 문의하세요.</p>
                </div>
            </div>

            <div class="layout-md">
                <div class="form-area">
                    <div class="form-header">
                        <span>
                            <div class="emphasis">
                                <span></span>
                            </div>
                            표시는 필수입력
                        </span>
                    </div>
                    <!-- action="/api/post/edit" method="POST" -->
                    <div class="form-main">
                        <div class="col-group">
                            <div class="input-group w50">
                                <label for="name">
                                    고객명
                                    <div class="emphasis">
                                        <span></span>
                                    </div>
                                </label>
                                <input type="text" placeholder="홍길동" id="name">
                            </div>
                            <div class="input-group w50">
                                <label for="email">
                                    이메일
                                    <div class="emphasis">
                                        <span></span>
                                    </div>
                                </label>

                                <div class="input-box">
                                    <input type="email" id="email1" name="email1" required>
                                    <span>@</span>
                                    <input type="email" id="email2" name="email2" required readonly tabindex="-1">
                                    <select name="" onChange="selectEmail(this)">
                                        <option value="">선택하세요</option>
                                        <option value="naver.com">naver.com</option>
                                        <option value="daum.net">daum.net</option>
                                        <option value="gmail.com">gmail.com</option>
                                        <option value="1">직접입력</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-group">
                            <div class="input-group w50">
                                <label>연락처</label>
                                <div class="input-box">
                                    <select name="" onChange="selectTel(this)">
                                        <option value="02">02</option>
                                        <option value="031">031</option>
                                        <option value="051">051</option>
                                        <option value="010">010</option>
                                        <option value="1">직접입력</option>
                                    </select>
                                    <input type="number" id="tel1" tabindex="-1" readonly value="02">
                                    <span>-</span>
                                    <input type="number" id="tel2">
                                    <span>-</span>
                                    <input type="number" id="tel3">
                                </div>
                            </div>
                            <div class="input-group w50">
                                <label for="title">제목
                                    <div class="emphasis">
                                        <span></span>
                                    </div>
                                </label>
                                <input type="text" id="title">
                            </div>
                        </div>
                        <div class="col-group">
                            <div class="input-group w100">
                                <label for="">
                                    문의내용
                                    <div class="emphasis">
                                        <span></span>
                                    </div>
                                </label>
                                <textarea name="" id="textarea" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="col-group">
                            <div class="input-group w50">
                                <div class="input-file">
                                    <div class="file-tit">
                                        <label>파일첨부</label>
                                        <span>용량 15 MB 이하만 업로드 가능</span>
                                    </div>
                                    <div class="file-content">
                                        <!-- <input id="fileText" type="text" readonly placeholder="파일첨부 1 : 용량 5MB 이하만 업로드 가능"> -->
                                        <span class="file-name">파일첨부 : 용량 15MB 이하만 업로드 가능</span>
                                        <label class="input-btn-black" for="file">
                                            파일첨부
                                        </label>
                                        <input type="file" multiple id="file">
                                    </div>
                                    <!-- <div class="file-text-sub" style="background-color:#000; color:#fff;">현재 0.00MB / 최대
                                        15MB (본문 포함)</div> -->
                                </div>
                            </div>
                            <div class="input-group w50">
                                <div class="input-spam">
                                    <div class="file-tit">
                                        <label for="">
                                            스팸방지코드
                                            <div class="emphasis">
                                                <span></span>
                                            </div>
                                        </label>
                                        <span>자동등록방지 숫자를 순서대로 입력하세요</span>
                                    </div>
                                    <div class="file-content">
                                        <!-- <div class="spam-img">
                                        <img src="/assets/img/spam.png" alt="">
                                    </div>
                                    <input type="text">
                                    <label for="" class="input-btn-black">
                                        숫자음성듣기
                                    </label>
                                    <label for="" class="input-btn-white" id="captcha_reload">
                                        새로고침
                                    </label> -->
                                        <div class="g-recaptcha"
                                            data-sitekey="6LezpY8pAAAAAIWdDkpwwQ0Pa1HcGWsTot1UUyXn">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-group">
                            <div class="input-group w100">
                                <div class="agree-box">
                                    <label for="">
                                        개인정보수집 및 이용안내
                                    </label>
                                    <div class="input-privacy">
                                        <p>와이제이이노베이션(이하 "회사"라 합니다)는 다음과 같은 이유로 필요한 최소한의 개인정보를 수집·이용합니다.
                                            - 온라인문의

                                            [수집하는 개인정보의 항목]
                                            회사는 회원가입 당시 아래와 같은 개인정보를 수집하고 있습니다.
                                            - 필수항목 : 고객명,이메일
                                            - 선택항목 : 연락처

                                            [개인정보 보유 및 이용기간]
                                            귀하의 개인정보는 회사의 지속적인 창업상담 및 창업관련 정보의 제공을 위해 다음의 명시한 기간 동안 보존합니다. 단 귀하가 별도로
                                            개인정보의
                                            정정, 처리정지
                                            또는 삭제를 요구할 경우, 회사는 내부절차에 따라 귀하의 요구를 즉시 수용할 것입니다.
                                            - 작성일로부터 3년

                                            [개인정보 수집 동의 거부의 권리]
                                            귀하께서는 본 개인정보 수집 동의를 거부하실 권리가 있습니다. 다만 필수항목에 해당하는 개인정보의 수집 동의를 거부하실 경우 온라인문의
                                            이용이
                                            불가합니다.
                                        </p>
                                    </div>
                                    <p class="input-check">
                                        <input type="checkbox" name="" id="agree">
                                        <label for="agree">개인정보처리방침에 동의</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="input-submit">
                            <button type="submit" id="submit">문의하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="spinner">
            <div class="spinner-main"></div>
            <p>처리중<span>...</span></p>
        </div>
        <%- include('footer.ejs') %>
            <script src="/assets/lib/jquery.min.js"></script>
            <script src="/assets/lib/sweetalert2.js"></script>
            <script src="/assets/lib/axios.min.js"></script>
            <script src="/assets/lib/gsap.min.js"></script>
            <script src="/assets/lib/aos.js"></script>
            <script src="/assets/js/main.js"></script>
            <script>


                email1.addEventListener('input', () => {
                    let inputValue = email1.value;
                    let englishAndNumbersOnly = inputValue.replace(/[^a-zA-Z0-9]/g, "");
                    email1.value = englishAndNumbersOnly;

                    if (inputValue !== englishAndNumbersOnly) {
                        Swal.fire({
                            title: '영문만 입력 가능합니다.',
                            icon: 'info',
                            confirmButtonText: '확인'
                        })   
                    }
                })
                // onlyNumber
                function onlyNumber(target) {
                    target.addEventListener('input', () => {
                        let inputValue = target.value;
                        let numbersOnly = inputValue.replace(/\D/g, "");
                        target.value = numbersOnly;

                        if (inputValue !== numbersOnly) {
                            Swal.fire({
                                title: '숫자만 입력 가능합니다.',
                                icon: 'info',
                                confirmButtonText: '확인'
                            })
                        }
                    })
                }
                const onlyNumInputs = [tel2, tel3];
                onlyNumInputs.forEach((e) => {
                    onlyNumber(e);
                })

                // tel
                function selectTel(ele) {
                    const tel1 = document.querySelector('#tel1');
                    if (ele.value === "1") {
                        tel1.removeAttribute('tabindex')
                        tel1.removeAttribute('readonly');
                        tel1.value = '';
                    } else {
                        tel1.setAttribute('tabindex', '-1')
                        tel1.setAttribute('readonly', true);
                        tel1.value = ele.value;
                    }
                }
                // email
                function selectEmail(ele) {
                    const email2 = document.querySelector('#email2');

                    // '1'인 경우 직접입력
                    if (ele.value === "1") {
                        email2.removeAttribute('tabindex');
                        email2.removeAttribute('readonly');
                        email2.value = '';
                    } else {
                        email2.setAttribute('tabindex', '-1');
                        email2.setAttribute('readonly', true);
                        email2.value = ele.value;
                    }
                }





                // sweetAlert
                function sweetAlert(title, text, icon, buttonText) {
                    Swal.fire({
                        title: title,
                        text: text,
                        icon: icon,
                        confirmButtonText: buttonText,
                        // showClass: {
                        //     popup: `
                                
                        //     `
                        // },
                        // hideClass: {
                        //     popup: `

                        //     `
                        // }
                    })
                }

                document.getElementById('submit').addEventListener('click', function () {


                    const name = document.getElementById('name').value;
                    const mail1 = document.getElementById('email1').value;
                    const mail2 = document.getElementById('email2').value;
                    const email = `${mail1}@${mail2}`;
                    const tel1 = document.getElementById('tel1').value;
                    const tel2 = document.getElementById('tel2').value;
                    const tel3 = document.getElementById('tel3').value;
                    const tel = `${tel1}-${tel2}-${tel3}`;
                    const title = document.getElementById('title').value;
                    const content = document.getElementById('textarea').value;


                    // 업로드 file
                    const fileInput = document.getElementById('file');
                    const files = fileInput.files; // 파일들 선택
                    // 개인정보동의
                    const agreeCheck = document.getElementById('agree');
                    // recaptcha
                    const response = grecaptcha.getResponse();

                    if (name === '') {
                        sweetAlert('고객명을 입력해주세요.', '', 'info', '확인')
                    } else if (mail1 === '' || mail2 === '') {
                        sweetAlert('메일을 입력해주세요.', '', 'info', '확인')
                    } else if (title === '') {
                        sweetAlert('제목을 입력해주세요.', '', 'info', '확인')
                    } else if (content === '') {
                        sweetAlert('내용을 입력해주세요.', '', 'info', '확인')
                    }
                     else if (response.length == 0) {
                        sweetAlert('봇이 아니라면 방지코드에 체크 하세요.', '', 'info', '확인')
                    }
                     else if (!agreeCheck.checked) {
                        sweetAlert('개인정보처리방침에 동의 해주세요.', '', 'info', '확인')
                    } else {
                        const spinner = document.querySelector('.spinner');
                        spinner.style.display = 'flex';
                        const formData = new FormData();
                        formData.append('name', name);
                        formData.append('email', email);
                        formData.append('tel', tel);
                        formData.append('title', title);
                        formData.append('content', content);


                        // for (let i = 0; i < files.length; i++) {
                        //     formData.append('file', files[i])
                        // }

                        // 파일이 선택되었을 때만 FormData에 파일 추가
                        if (files.length > 0) {
                            for (let i = 0; i < files.length; i++) {
                                formData.append('file', files[i]);
                            }
                        }


                        axios.post('/submit', formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                            .then(function (response) {
                                const spinner = document.querySelector('.spinner');
                                spinner.style.display = 'none';
                                Swal.fire({
                                    title: 'Success!!',
                                    text: `${response.data.success}`,
                                    icon: 'success',
                                    confirmButtonText: '확인',
                                })
                                    .then((result) => {
                                        location.reload();
                                        window.scrollTo(0, 0);
                                    })
                            })

                            .catch(function (error) {
                                Swal.fire({
                                    title: 'Error!!',
                                    text: `${error.response.data.errorType}`,
                                    confirmButtonText: '확인',
                                    imageUrl: '/assets/img/logo.png',
                                    imageWidth: 'auto',
                                    imageHeight: 'auto',
                                    imageAlt: '에러 이미지',
                                })
                                // Swal.fire({
                                //     title: 'Error!!',
                                //     text: `정말로 보내시겠습니까?`,
                                //     imageUrl: '/assets/img/logo.png',
                                //     imageWidth: 'auto',
                                //     imageHeight: 'auto',
                                //     imageAlt: '에러 이미지',EW
                                //     showCancelButton: true,
                                //     confirmButtonText: '확인',
                                //     cancelButtonText: '취소',
                                //     confirmButtonColor: "#0a0a0a",
                                //     cancelButtonColor: "red"
                                // })
                                // .then((result) => {
                                //     if(result.isConfirmed) {
                                //         Swal.fire({
                                //             text:'confirm',
                                //         })
                                //     } else if (result.inDismissed) {
                                //         swal.fire({
                                //             text:'cancel'
                                //         })
                                //     }
                                // })
                            });


                    }

                });


            </script>

</body>

</html>