<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer>
        <div class="footer-wrap">

            <div class="layout-md">
                <div class="footer-top">
                    <div class="footer-top-left">
                        <a href="/" class="footer-logo">
                            <img src="/assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="footer-top-right">
                        <ul class="company-info">
                            <li>
                                <strong class="info-head">ADDRESS</strong>
                                <p class="info-text">서울시 성동구 연무장5가길 7, 현대테라스타워 E903호</p>
                            </li>
                            <li>
                                <strong class="info-head">TEL</strong>
                                <p class="info-text">02-2038-4513. 010-3879-9002</p>
                            </li>
                            <li>
                                <strong class="info-head">E-MAIL</strong>
                                <p class="info-text">mgpark8@yjinno.co.kr</p>
                            </li>
                            <li>
                                <strong class="info-head">대표</strong>
                                <p class="info-text">박명관</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="bar"></div>
            <div class="layout-md">
                <div class="footer-bottom">
                    <div class="footer-bottom-left">
                        <span>COPYRIGHT © YJ INNOVATION CO.,LTD. All RIGHTS RESERVED.</span>
                    </div>
                    <div class="footer-bottom-right">
                        <ul>
                            <li><a href="/information01">개인정보 취급방침</a></li>
                            <li><a href="/information02">이용약관</a></li>
                            <li><a href="/information03">이메일무단수집거부</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>