<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service - 서비스 개요</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail service">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">SERVICE</h1>
                    <p class="sub-tit">
                        서비스 개요
                    </p>
                </div>
            </div>
        </div>
        
        <div class="layout-md">
            <div class="page-tab">
                <a href="/service01" class="tab active">서비스 개요</a>
                <a href="/service02" class="tab">서비스 모델</a>
                <a href="/service03" class="tab">수행역량</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit">
                <h2>구성</h2>
                <p>ERP, POS, 쇼핑몰, WMS, SCM, 고객관리, Promotion, OMS, e_Accounting, RPA</p>
            </div>
        </div>
        <div class="layout-md">
            <div class="gallery-container">
                <ul class="service-gallery" data-aos="fade-up" data-aos-duration="1000">
                    <li>
                        <a href= "javascript:void(0);">
                            <img src="/assets/img/service01.png" alt="">
                            <div class="gallery-content">
                                <h1>ERP</h1>
                                <div class="view-more">
                                    <a href="/solution02">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/service02.png" alt="">
                            <div class="gallery-content">
                                <h1>POS</h1>
                                <div class="view-more">
                                    <a href="/solution03">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/service03.png" alt="">
                            <div class="gallery-content">
                                <h1>e-Shop</h1>
                                <div class="view-more">
                                    <a href="/solution11">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/service04.png" alt="">
                            <div class="gallery-content">
                                <h1>WMS</h1>
                                <div class="view-more">
                                    <a href="/solution05">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/service05.png" alt="">
                            <div class="gallery-content">
                                <h1>SCM</h1>
                                <div class="view-more">
                                    <a href="/solution06">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/service06.png" alt="">
                            <div class="gallery-content">
                                <h1>고객 DBMS</h1>
                                <div class="view-more">
                                    <a href="/solution10">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/service07.png" alt="">
                            <div class="gallery-content">
                                <h1>Promotion</h1>
                                <div class="view-more">
                                    <a href="/solution07">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/service08.png" alt="">
                            <div class="gallery-content">
                                <h1>OMS</h1>
                                <div class="view-more">
                                    <a href="/solution04">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/service09.png" alt="">
                            <div class="gallery-content">
                                <h1>e-Accounting</h1>
                                <div class="view-more">
                                    <a href="/solution09">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/service10.png" alt="">
                            <div class="gallery-content">
                                <h1>RPA</h1>
                                <div class="view-more">
                                    <a href="/solution11">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
    
                </ul>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit">
                <h2>구성</h2>
                <p>Bright Method</p>
            </div>
        </div>
        <div class="solution-list-wrap">
            <ul class="solution-list">
                <li data-aos="fade-up" data-aos-duration="1600" data-aos-delay="150">
                    <a href="javascript:void(0);">
                        <div class="list-img">
                            <img src="/assets/img/solution-list01.png" alt="">
                        </div>
                        <div class="list-content">
                            <h1>정보서비스 솔루션</h1>
                            <p>온라인과 오프라인 리테일 유통환경을<br>최적으로 지원하는 정보서비스 솔루션</p>
                        </div>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-duration="1600" data-aos-delay="300">
                    <a href="javascript:void(0);">
                        <div class="list-img">
                            <img src="/assets/img/solution-list02.png" alt="">
                        </div>
                        <div class="list-content">
                            <h1>고객지원 솔루션</h1>
                            <p>4차 산업혁명의 요소기술을 적용하여<br>고객의 요구와 업무변화를<br>지원할 수 있는 솔루션</p>
                        </div>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-duration="1600" data-aos-delay="450">
                    <a href="javascript:void(0);">
                        <div class="list-img">
                            <img src="/assets/img/solution-list03.png" alt="">
                        </div>
                        <div class="list-content">
                            <h1>컨설팅 서비스</h1>
                            <p>e_Commerce시대의 업무변화에<br>대응할 수 있는 해박한 업무경험과 기술력을<br>기반한 컨설팅 서비스</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="layout-md">
            <div class="page-tit">
                <h2>인증서</h2>
                <p>서비스 수준</p> 
            </div>
        </div>
        <div class="certification">
            <div class="certification-box">
                <div class="certification-head" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="800"><p>Korean Foundation<br>for Quality</p></div>
                <div class="certification-content">
                    <div class="certification-img" data-aos="fade-right" data-aos-duration="1600" data-aos-delay="400">
                        <img src="/assets/img/service-mark.png" alt="">
                    </div>
                    <div class="certification-text" data-aos="fade" data-aos-duration="1600">
                        <p>고객의 정보를<br><strong>국제표준 정보보호 관리체계</strong>를<br>준수하여 체계적으로 보호</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    
    
    <script src="/assets/js/main.js"></script>

</body>

</html>