<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service - 서비스 모델</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail service">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">SERVICE</h1>
                    <p class="sub-tit">
                        서비스 모델
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/service01" class="tab">서비스 개요</a>
                <a href="/service02" class="tab active">서비스 모델</a>
                <a href="/service03" class="tab">수행역량</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>서비스 모델</h2>
                <p>리테일 유통 업무 전반에 해당하는 통합된 서비스 기능을 제공합니다.</p>
            </div>
        </div>
        <div class="layout-md">
            <div class="service-models">
                <div class="service-model type1">
                    <h1>유통 채널</h1>
                    <ul class="model-lists" data-aos="fade-up" data-aos-duration="1400">
                        <li>
                            <img src="/assets/img/model-service01.png" alt="">
                            <span>매장</span>
                        </li>
                        <li>
                            <img src="/assets/img/model-service02.png" alt="">
                            <span>아울렛</span>
                        </li>
                        <li>
                            <img src="/assets/img/model-service03.png" alt="">
                            <span>홈쇼핑</span>
                        </li>
                        <li>
                            <img src="/assets/img/model-service04.png" alt="">
                            <span>쇼핑몰</span>
                        </li>
                        <li>
                            <img src="/assets/img/model-service05.png" alt="">
                            <span>직영점</span>
                        </li>
                    </ul>
                </div>
                <div class="service-model type2">
                    <h1>Front Office <span>&</span> Back Office <span>&</span> Process Support</h1>
                    <ul class="model-lists" data-aos="fade-up" data-aos-duration="1400">
                        <li>
                            <span>Promotion</span>
                        </li>
                        <li>
                            <span>OMS</span>
                        </li>
                        <li>
                            <span>POS</span>
                        </li>
                        <li>
                            <span>e-Shop</span>
                        </li>
                        <li>
                            <span>고객관리</span>
                        </li>
                        <li>
                            <span>ERP</span>
                        </li>
                        <li>
                            <span>WMS</span>
                        </li>
                        <li>
                            <span>SCM</span>
                        </li>
                        <li>
                            <span>e_Accounting 전자전표</span>
                        </li>
                        <li>
                            <span>RPA 프로세스 자동화</span>
                        </li>
                        <li>
                            <span>분석</span>
                        </li>
                    </ul>
                </div>
                <div class="service-model type3">
                    <h1>Platform</h1>
                    <ul class="model-lists" data-aos="fade-up" data-aos-duration="1400">
                        <li>
                            <span>커뮤니티</span>
                        </li>
                        <li>
                            <span>Common Procedure</span>
                        </li>
                        <li>
                            <span>권한 관리</span>
                        </li>
                        <li>
                            <span>메뉴구성 및 관리</span>
                        </li>
                        <li>
                            <span>시스템 접근 통제</span>
                        </li>
                        <li>
                            <span>로그관리</span>
                        </li>
                        <li>
                            <span>사용기기 인증</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>