<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service - 수행역량</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail service">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">SERVICE</h1>
                    <p class="sub-tit">
                        수행역량
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/service01" class="tab">서비스 개요</a>
                <a href="/service02" class="tab">서비스 모델</a>
                <a href="/service03" class="tab active">수행역량</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>수행역량</h2>
                <p>리테일 업무에 대한 정확한 이해, 고객중심, 통합 Platform 제공 역량을 보유하여<br>고객에게 우수한 IT서비스를 제공합니다.</p>
            </div>
        </div>
        <div class="layout-md vsible">
            <div class="circle-graph">
                <div class="circle-img">
                    <img src="/assets/img/circle_graph.png" alt="">
                    <div class="graph-box" data-aos="fade-right" data-aos-duration="1400">
                        <div class="graph-content">
                            <h1>정확한 업무 이해력</h1>
                            <ul>
                                <li>• 풍부한 프로젝트 수행경험</li>
                                <li>• 리테일 업무 특성 이해</li>
                            </ul>
                        </div>
                    </div>
                    <div class="graph-box"  data-aos="fade-right" data-aos-duration="1400">
                        <div class="graph-content">
                            <h1>통합 Platform 제공</h1>
                            <ul>
                                <li>• 프로세스 정립 및 표준화</li>
                                <li>• 리테일 전용 Platform 보유</li>
                            </ul>
                        </div>
                    </div>
                    <div class="graph-box"  data-aos="fade-left" data-aos-duration="1400" data-aos-delay="100">
                        <div class="graph-content">
                            <h1>고객 중심</h1>
                            <ul>
                                <li>• 사용 편리성과 업무처리 효율화</li>
                                <li>• 운영 및 유지보수 용이로 TCO 절감</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="m-graph">
                    <div class="graph-box">
                        <div class="graph-content">
                            <h1>정확한 업무 이해력</h1>
                            <ul>
                                <li>• 풍부한 프로젝트 수행경험</li>
                                <li>• 리테일 업무 특성 이해</li>
                            </ul>
                        </div>
                    </div>
                    <div class="graph-box">
                        <div class="graph-content">
                            <h1>통합 Platform 제공</h1>
                            <ul>
                                <li>• 프로세스 정립 및 표준화</li>
                                <li>• 리테일 전용 Platform 보유</li>
                            </ul>
                        </div>
                    </div>
                    <div class="graph-box">
                        <div class="graph-content">
                            <h1>고객 중심</h1>
                            <ul>
                                <li>• 사용 편리성과 업무처리 효율화</li>
                                <li>• 운영 및 유지보수 용이로 TCO 절감</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    
    <script src="/assets/js/main.js"></script>

</body>

</html>