<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution - 고객 DBMS</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/swiper.min.css">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">SOLUTION</h1>
                    <p class="sub-tit">
                        고객 DBMS
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/solution01" class="tab">솔루션 개요</a>
                <a href="/solution02" class="tab">ERP</a>
                <a href="/solution03" class="tab">POS</a>
                <a href="/solution04" class="tab">OMS</a>
                <a href="/solution05" class="tab">WMS</a>
                <a href="/solution06" class="tab">SCM</a>
                <a href="/solution07" class="tab">Promotion</a>
                <a href="/solution08" class="tab">RPA</a>
                <a href="/solution09" class="tab">e-Accounting</a>
                <a href="/solution10" class="tab active">고객 DBMS</a>
                <a href="/solution11" class="tab">e-Shop</a>
                <a href="/solution12" class="tab">분석</a>    
                <a href="/solution13" class="tab">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>고객 DBMS 도입효과</h2>
                <p>고객의 라이프사이클을 분석하여 효과적인 마케팅을 지원하는 역할</p>
            </div>
        </div>
        <div class="layout-md visible card type1" data-aos="fade-left" data-aos-duration="800">
            <div class="cards type1 dbms">
                <div class="card">
                    <div class="card-num">01</div>
                    <div class="card-text">
                        <h1>고객관리 체계 지원</h1>
                        <p>마일리지 적립 Rule, 적립/소멸, 라이프사이클에 대한 관리체계 지원 함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">02</div>
                    <div class="card-text">
                        <h1>보안체계 지원</h1>
                        <p>고객의 기밀정보 (전화번호, 주소, 생일, ..)에 대한 암호화 방안 제공 함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">03</div>
                    <div class="card-text">
                        <h1>고객 통합 원장 지원</h1>
                        <p>각 고객별 신상정보, 등급, 마일리지, 구매이력, 상담요청, 환불내역 등의 정보를 상호 연동하여 통합 원장으로 제공 함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">04</div>
                    <div class="card-text">
                        <h1>고객정보 사용자 통제</h1>
                        <p>고객정보에 대한 접근권한을 부여하여 정보 이용자에 대한 통제 및 접근 기록 제공 함</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="layout-md visible card type2" data-aos="fade-right" data-aos-duration="800">
            <div class="cards type2">
                <div class="solution-slider">
                    <div class="slider-list-wrap">
                        <div class="slider-list">
                            <div class="head">고객 DBMS 예시화면</div>
                            <ul class="text-pagi">
                                <li class="active">고객별 판매 라이프사이클</li>
                                <li>고객별 판매 반응 수집</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="swiper mySwiper2 dbms">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/dbms_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/dbms_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    
    <script src="/assets/js/main.js"></script>

</body>

</html>