<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution - ERP</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/swiper.min.css">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">SOLUTION</h1>
                    <p class="sub-tit">
                        ERP
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/solution01" class="tab">솔루션 개요</a>
                <a href="/solution02" class="tab active">ERP</a>
                <a href="/solution03" class="tab">POS</a>
                <a href="/solution04" class="tab">OMS</a>
                <a href="/solution05" class="tab">WMS</a>
                <a href="/solution06" class="tab">SCM</a>
                <a href="/solution07" class="tab">Promotion</a>
                <a href="/solution08" class="tab">RPA</a>
                <a href="/solution09" class="tab">e-Accounting</a>
                <a href="/solution10" class="tab">고객 DBMS</a>
                <a href="/solution11" class="tab">e-Shop</a>
                <a href="/solution12" class="tab">분석</a>
                <a href="/solution13" class="tab">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>ERP 도입효과</h2>
                <p>리테일 프랜차이저 유통 솔루션의 데이터 관리와 업무 프로세스를 지원 및 관리</p>
            </div>
        </div>
        <div class="layout-md visible card type1" data-aos="fade-left" data-aos-duration="800">
            <div class="cards type1 erp">
                <div class="card">
                    <div class="card-num">01</div>
                    <div class="card-text">
                        <h1>신속정확한 정산업무</h1>
                        <p>리오더, 프로모션, 매출분석, 정산업무를 신속하고 정확하게 진행할 수 있음</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">02</div>
                    <div class="card-text">
                        <h1>매출망 특성</h1>
                        <p>매출망 (대리점, 백화점, 아울렛, 직영점)의 특성이 반영되어 있음</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">03</div>
                    <div class="card-text">
                        <h1>실적관리 및 분석</h1>
                        <p>브랜드, 상품분류와 카테고리 설정으로 사용자가 원하는 실적관리와 분석이 가능</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">04</div>
                    <div class="card-text">
                        <h1>프로모션 정산 서비스</h1>
                        <p>판매촉진을 위하여 고객에게 다양한 형태의 프로모션과 이에 대한 비용 정산 서비스를 제공함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">05</div>
                    <div class="card-text">
                        <h1>통합관리 서비스</h1>
                        <p>관리체계가 서로 다른 의류와 용품을 통합하여 관리할 수 있음</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="layout-md visible card type2" data-aos="fade-right" data-aos-duration="800">
            <div class="cards type2">
                <div class="solution-slider">
                    <div class="slider-list-wrap">
                        <div class="slider-list">
                            <div class="head">ERP 예시화면</div>
                            <ul class="text-pagi">
                                <li class="active">판매자 상품 배분</li>
                                <li>상품정보</li>
                                <li>상품기획 정보</li>
                                <li>상품기획 정보</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="swiper mySwiper2 erp">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/erp_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/erp_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/erp_3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/erp_4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    
    <script src="/assets/js/main.js"></script>

</body>

</html>