<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution - e-Shop</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/swiper.min.css">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">SOLUTION</h1>
                    <p class="sub-tit">
                        e-Shop
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/solution01" class="tab">솔루션 개요</a>
                <a href="/solution02" class="tab">ERP</a>
                <a href="/solution03" class="tab">POS</a>
                <a href="/solution04" class="tab">OMS</a>
                <a href="/solution05" class="tab">WMS</a>
                <a href="/solution06" class="tab">SCM</a>
                <a href="/solution07" class="tab">Promotion</a>
                <a href="/solution08" class="tab">RPA</a>
                <a href="/solution09" class="tab">e-Accounting</a>
                <a href="/solution10" class="tab">고객 DBMS</a>
                <a href="/solution11" class="tab active">e-Shop</a>
                <a href="/solution12" class="tab">분석</a>    
                <a href="/solution13" class="tab">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>e-Shop 도입효과</h2>
                <p>온라인 판매를 지원하는 상품/가격/분석을 담당</p>
            </div>
        </div>
        <div class="layout-md visible card type1" data-aos="fade-left" data-aos-duration="800">
            <div class="cards type1 e-shop">
                <div class="card">
                    <div class="card-num">01</div>
                    <div class="card-text">
                        <h1>온라인 매장 제공</h1>
                        <p>오프라인 매장과 온라인 매장의 장·단점을 보완할 수 있는 온라인 매장 기능을 제공하여 상품 판매를 극대화 함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">02</div>
                    <div class="card-text">
                        <h1>상품 가격의 합리적 통제</h1>
                        <p>온라인 매장에서 판매하는 상품의 가격 및 판매기간 통제기능을 제공함으로써 브랜드 품위 유지 함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">03</div>
                    <div class="card-text">
                        <h1>스탠다드 기능 제공</h1>
                        <p>온라인 매장 운영을 위하여 필요한 표준기능 제공으로 투자 최소화 함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">04</div>
                    <div class="card-text">
                        <h1>ERP, WMS 시스템과 연동 효율</h1>
                        <p>ERP, WMS 시스템과 연동으로 정보 관리 이원화 및 중복 처리를 배제 함으로써 운영 효율화 함</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="layout-md visible card type2" data-aos="fade-right" data-aos-duration="800">
            <div class="cards type2">
                <div class="solution-slider">
                    <div class="slider-list-wrap">
                        <div class="slider-list">
                            <div class="head">e-Shop 예시화면</div>
                            <ul class="text-pagi">
                                <li class="active">상품결제</li>
                                <li>상품전시</li>
                                <li>장바구니</li>
                                <li>판매현황</li>
                                <li>관리자포탈</li>
                                <li>상품상세</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="swiper mySwiper2 e-shop">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/e-shop_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/e-shop_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/e-shop_3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/e-shop_4.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/e-shop_5.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/e-shop_6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    
    <script src="/assets/js/main.js"></script>

</body>

</html>