<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution - Platform</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/swiper.min.css">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">SOLUTION</h1>
                    <p class="sub-tit">
                        Platform
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/solution01" class="tab">솔루션 개요</a>
                <a href="/solution02" class="tab">ERP</a>
                <a href="/solution03" class="tab">POS</a>
                <a href="/solution04" class="tab">OMS</a>
                <a href="/solution05" class="tab">WMS</a>
                <a href="/solution06" class="tab">SCM</a>
                <a href="/solution07" class="tab">Promotion</a>
                <a href="/solution08" class="tab">RPA</a>
                <a href="/solution09" class="tab">e-Accounting</a>
                <a href="/solution10" class="tab">고객 DBMS</a>
                <a href="/solution11" class="tab">e-Shop</a> 
                <a href="/solution12" class="tab">분석</a>    
                <a href="/solution13" class="tab active">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>Platform 도입효과</h2>
                <p>시스템의 관리 효율화와 TCO 절감을 위하여 편리하고 안정적인 기능을 지원</p>
            </div>
        </div>
        <div class="layout-md visible card type1" data-aos="fade-left" data-aos-duration="800">
            <div class="cards type1 platform">
                <div class="card">
                    <div class="card-num">01</div>
                    <div class="card-text">
                        <h1>시스템 운영 효율화</h1>
                        <p>시스템의 운영과 관리를 표준화함으로써 TCO 절감</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">02</div>
                    <div class="card-text">
                        <h1>업무 변화에 대한 확장성 제공</h1>
                        <p>업무 축소 및 확장과 조직변화에 대한 시스템적 확장성을 제공 함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">03</div>
                    <div class="card-text">
                        <h1>업무 편리성 지원</h1>
                        <p>커뮤니티 구성, 사용자별 메뉴 구성, 권한관리 등의 표준기능을 제공함으로써 사용자별 업무를 효과적으로 지원 함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">04</div>
                    <div class="card-text">
                        <h1>시스템 확장성 지원</h1>
                        <p>사업확장과 업무 변화에 대한 표준 프레임을 적용함으로써 시스템 통일성을 유지 함</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="layout-md visible card type2" data-aos="fade-right" data-aos-duration="800">
            <div class="cards type2">
                <div class="solution-slider">
                    <div class="slider-list-wrap">
                        <div class="slider-list">
                            <div class="head">Platform 예시화면</div>
                            <ul class="text-pagi">
                                <li class="active">Portal 구성</li>
                                <li>프로그램/사용자별 작업 권한 설정</li>
                                <li>워크프로우 설정</li>
                                <li>커뮤니티 구성</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="swiper mySwiper2 platform">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/platform_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/platform_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/platform_3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/platform_4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    
    <script src="/assets/js/main.js"></script>

</body>

</html>