<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution - 솔루션 개요</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">SOLUTION</h1>
                    <p class="sub-tit">
                        솔루션 개요
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/solution01" class="tab active">솔루션 개요</a>
                <a href="/solution02" class="tab">ERP</a>
                <a href="/solution03" class="tab">POS</a>
                <a href="/solution04" class="tab">OMS</a>
                <a href="/solution05" class="tab">WMS</a>
                <a href="/solution06" class="tab">SCM</a>
                <a href="/solution07" class="tab">Promotion</a>
                <a href="/solution08" class="tab">RPA</a>
                <a href="/solution09" class="tab">e-Accounting</a>
                <a href="/solution10" class="tab">고객 DBMS</a>
                <a href="/solution11" class="tab">e-Shop</a>
                <a href="/solution12" class="tab">분석</a>
                <a href="/solution13" class="tab">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>솔루션 개요</h2>
                <p>YJ Innovation의 솔루션을 한 눈에 찾아보세요.</p>
            </div>
        </div>
        <div class="layout-md">
            <ul class="solution-items">
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>ERP</h1>
                        <img src="/assets/img/solution-img01.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>제품기획 및 생산 발주</li>
                            <li>매장 및 마케팅관리</li>
                            <li>배분 및 출고 지시 상품원가 관리</li>
                            <li>저매입</li>
                            <li>정산(중간관리,백화점,수수료,로스)</li>
                            <li>소모품 및 입금관리</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>리테일 유통업무의 절차에 대한 정보처리</li>
                            <li>기획 > 생산 > 발주 > 입고 > 출고 > 판매 > 정산 > 재고</li>
                            <li>멀티브랜드, 다양한 유통망 구성 지원</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>POS</h1>
                        <img src="/assets/img/solution-img02.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>판매 및 반품 위탁/사입제품 관리</li>
                            <li>재고실사 및 정산</li>
                            <li>Key 금액 및 수수료 정산</li>
                            <li>이동 및 재고현황</li>
                            <li>Promotion 기능</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>매장 업무를 위한 매장 통합관리 시스템</li>
                            <li>고객관리 및 프로모션 기능 제공</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>e_Shop<br>(B2C)</h1>
                        <img src="/assets/img/solution-img03.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>B2C 상품정보 및 판매정보 설정</li>
                            <li>장바구니 및 결제 관리</li>
                            <li>배송정보 및 진행현황 관리</li>
                            <li>판매현황 모니터링</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>인터넷 쇼핑몰 서비스</li>
                            <li>택배사와 연동</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>WMS</h1>
                        <img src="/assets/img/solution-img04.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>물류기획</li>
                            <li>입고/검수/출고/반품/재고관리</li>
                            <li>Location 설정 및 관리, 작업지시 및 진행현황 관리</li>
                            <li>자동창고/Sorter/DAS/ERP 연동</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>물류창고의 효율적인 운영을 지원하는 시스템</li>
                            <li>PDA를 활용하여 현장에서 실시간 작업처리</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>SCM<br>(B2B)</h1>
                        <img src="/assets/img/solution-img05.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>B2B 거래처 등급 설정 및 약정 관리</li>
                            <li>상품주문</li>
                            <li>고객요청 이미지 및 문구 각인 서비스</li>
                            <li>수주진행 관리 출고 및 진행관리</li>
                            <li>SMS 및 Mailing 기능</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>B2B 사입 제품에 대한 주문에 대한 정보처</li>
                            <li>실시간 거래처 주문내역 적용(각인서비스)</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>고객 DBMS</h1>
                        <img src="/assets/img/solution-img06.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>고객정보 수집 및 보안규정 적용</li>
                            <li>SMS 및 Mailing</li>
                            <li>마일리지 관리</li>
                            <li>고객 운영 현황 분석</li>
                            <li>마일리지 정산</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>고객정보 수집 절차에 의한 정보처리</li>
                            <li>고객 정보처리 지침에 의한 보안체계 지원</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>Promotion</h1>
                        <img src="/assets/img/solution-img07.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>마일리지 적립 및 폐기</li>
                            <li>쿠폰, 할인권, 행사, 포인트</li>
                            <li>Promotion 시행 및 정산</li>
                            <li>SMS 및 Mailing</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>판매촉진을 위한 다양한 마케팅 템플릿을 제공</li>
                            <li>판매처와 판촉 분담율 설정 및 정산</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>OMS</h1>
                        <img src="/assets/img/solution-img08.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>상품정보 및 판매정보 설정</li>
                            <li>Upload 결과 모니터링</li>
                            <li>판매(발주) 내역 수집과 이상정보 모니터링</li>
                            <li>ERP를 통한 출고지시</li>
                            <li>배송현황 I/F</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>인터넷 판매채널과 연동을 위한 정보처리</li>
                            <li>WMS와 수시로 발주 및 운송정보 제공</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>e-Accounting</h1>
                        <img src="/assets/img/solution-img09.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>개인 법인카드 연동</li>
                            <li>PO 및 PR 관리</li>
                            <li>결재경로 및 전자 결재</li>
                            <li>세금계산서,Banking 자동이체 연동</li>
                            <li>미지급 잔액 및 지급처리</li>
                            <li>자동전표 생성</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>거래처 및 직원들에게 지급해야 할 지출에 대한 프로세스 지원</li>
                            <li>코스터센터 및 예산과목별 예산 처리</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>프로세스자동화<br>RPA</h1>
                        <img src="/assets/img/solution-img10.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>수집 및 처리대상 정보 경로 및 속성 설정</li>
                            <li>수집현황 모니터링</li>
                            <li>처리 Rule</li>
                            <li>처리결과 모니터링</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>거래처 주문현황 조회 및 자동 접수와 발주업무 적용</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>분석</h1>
                        <img src="/assets/img/solution-img11.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>기획대비 진행현황</li>
                            <li>원가분석</li>
                            <li>매출처별 매출분석</li>
                            <li>매출추이</li>
                            <li>상품 라이프사이클</li>
                            <li>고객 매출현황</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>임직원들에게 의사결정을 위한 분석정보 제공</li>
                            <li>빅데이터 수집체계 조성</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>Platform</h1>
                        <img src="/assets/img/solution-img12.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">주요기능</div>
                        <ul class="info-list">
                            <li>커뮤니티</li>
                            <li>사용자 및 프로그램 관리</li>
                            <li>시스텝 접근통제</li>
                            <li>메뉴구성 및 관리</li>
                            <li>공통 Function</li>
                            <li>로그관리</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">특징</div>
                        <ul class="info-list">
                            <li>시스템의 효율적인 운영과 환경변화에 능동적인 대처</li>
                            <li>TCO 비용 절감을 위한 메인 프레임 역할</li>
                        </ul>
                    </div>
                </li>
            </ul>
            
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    
    <script src="/assets/js/main.js"></script>

</body>

</html>