<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution - WMS</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/swiper.min.css">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">SOLUTION</h1>
                    <p class="sub-tit">
                        WMS
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/solution01" class="tab">솔루션 개요</a>
                <a href="/solution02" class="tab">ERP</a>
                <a href="/solution03" class="tab">POS</a>
                <a href="/solution04" class="tab">OMS</a>
                <a href="/solution05" class="tab active">WMS</a>
                <a href="/solution06" class="tab">SCM</a>
                <a href="/solution07" class="tab">Promotion</a>
                <a href="/solution08" class="tab">RPA</a>
                <a href="/solution09" class="tab">e-Accounting</a>
                <a href="/solution10" class="tab">고객 DBMS</a>
                <a href="/solution11" class="tab">e-Shop</a>
                <a href="/solution12" class="tab">분석</a>
                <a href="/solution13" class="tab">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>WMS 도입효과</h2>
                <p>물류센터의 모든 작업에 대한 준비/진행/결과를 관리 모니터링하는 역할</p>
            </div>
        </div>
        <div class="layout-md visible card type1" data-aos="fade-left" data-aos-duration="800">
            <div class="cards type1 wms">
                <div class="card">
                    <div class="card-num">01</div>
                    <div class="card-text">
                        <h1>출고요청에 대한 최적의 피킹계획 제공</h1>
                        <p>배분담당이 요청한 출고요청 정보에 대하여 전산에서 자동으로 피킹 계획을 제공과 작업지시를 확정하여 출고작업 시간을 줄일 수 있음</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">02</div>
                    <div class="card-text">
                        <h1>자동화창고시설과 연동<br>(자동창고, Sorter, DAS)</h1>
                        <p>DAS, Sorter, Stacker Crane 설비와의 연동된 스마트 창고관리 시스템으로 역할을 확장할 수 있음</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">03</div>
                    <div class="card-text">
                        <h1>Solid/Assort 구성 및 품목관리</h1>
                        <p>창고보관 상품을 다양하고 편리하게 Assort 구성을 할 수 있도록 하여 창고운영을 효율화 함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">04</div>
                    <div class="card-text">
                        <h1>Multi 센터 및 브랜드관리</h1>
                        <p>창고내 로케이션을 Physical, logical하게 구성할 수 있으며, 로케이션 내 x,y,z 3차원의 적치공간 설정 멀티브랜드별로 운영하도록 설정 가능</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">05</div>
                    <div class="card-text">
                        <h1>Real-Time 물류운영(Mobile)</h1>
                        <p>창고내 사무실이 아닌 현장에서 작업과 동시에 정보처리를 할 수 있는 모바일 Platform 서비스를 제공하여, 작업처리 시간을 줄임</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="layout-md visible card type2" data-aos="fade-right" data-aos-duration="800">
            <div class="cards type2">
                <div class="solution-slider">
                    <div class="slider-list-wrap">
                        <div class="slider-list">
                            <div class="head">WMS 예시화면</div>
                            <ul class="text-pagi">
                                <li class="active">WMS 재고현황</li>
                                <li>PDA 메뉴</li>
                                <li>WMS 반품검수</li>
                                <li>WMS 로케이션 관리</li>
                                <li>WMS Sorter연동</li>
                            </ul>
                        </div>
                    </div>

                    <div class="swiper mySwiper2 wms">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/wms_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/wms_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/wms_3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/wms_4.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/wms_5.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>


                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    
    <script src="/assets/js/main.js"></script>

</body>

</html>