<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution - RPA</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/swiper.min.css">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">SOLUTION</h1>
                    <p class="sub-tit">
                        RPA
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/solution01" class="tab">솔루션 개요</a>
                <a href="/solution02" class="tab">ERP</a>
                <a href="/solution03" class="tab">POS</a>
                <a href="/solution04" class="tab">OMS</a>
                <a href="/solution05" class="tab">WMS</a>
                <a href="/solution06" class="tab">SCM</a>
                <a href="/solution07" class="tab">Promotion</a>
                <a href="/solution08" class="tab active">RPA</a>
                <a href="/solution09" class="tab">e-Accounting</a>
                <a href="/solution10" class="tab">고객 DBMS</a>
                <a href="/solution11" class="tab">e-Shop</a>
                <a href="/solution12" class="tab">분석</a>    
                <a href="/solution13" class="tab">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>RPA 도입효과</h2>
                <p>규격화된 단순 반복 업무에 대하여 시스템적으로 자동화하여 수행</p>
            </div>
        </div>
        <div class="layout-md visible card type1" data-aos="fade-left" data-aos-duration="800">
            <div class="cards type1 rpa">
                <div class="card">
                    <div class="card-num">01</div>
                    <div class="card-text">
                        <h1>정형화된 반복 작업 자동화</h1>
                        <p>프로세스가 정립된 정형화된 반복 업무를 시스템적으로 자동화 처리함으로 업무 효율화 함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">02</div>
                    <div class="card-text">
                        <h1>사고 및 업무 누락 방지</h1>
                        <p>업무 담당자의 실수 및 처리 누락으로 인한 업무적 손실을 없앰</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">03</div>
                    <div class="card-text">
                        <h1>처리현황 모니터링 지원</h1>
                        <p>시스템이 자동으로 처리한 업무에 대한 모니터링 기능을 제공 함으로써 사후관리가 용이 함</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">04</div>
                    <div class="card-text">
                        <h1>스마트한 업무처리</h1>
                        <p>반복적인 처리 업무를 프로세스 개선과 정립으로 자동화함으로써 업무를 스마트화 함</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="layout-md visible card type2" data-aos="fade-right" data-aos-duration="800">
            <div class="cards type2">
                <div class="solution-slider">
                    <div class="slider-list-wrap">
                        <div class="slider-list">
                            <div class="head">RPA 예시화면</div>
                            <ul class="text-pagi">
                                <li class="active">프로세스처리 흐름 및 작업 명령 설정1</li>
                                <li>프로세스처리 흐름 및 작업 명령 설정2</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="swiper mySwiper2 rpa">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/rpa_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/rpa_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>