<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Company</title>
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main class="solution-overlay">
        <div class="banner detail company">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Company</h1>
                    <p class="sub-tit">
                        Introducing YJ Innovation
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="sol-tit">
                <p>
                    YJ Innovation is a <strong>Retail Solution professional organization</strong> that provides unlimited trust to customers with rich Retail Solution development performance, operational experience, and business understanding and technology.
                </p>
            </div>
        </div>
        <section class="sec1">
            <div class="layout-md">
                <ul class="sol-list">
                    <li class="active">
                        <a href="javascript:void(0);">
                            <img src="/assets/img/solution01.png" alt="">
                            <div class="sol-content">
                                <div class="sol-content-top">
                                    <h1>Experience</h1>
                                </div>
                                <div class="sol-content-bottom">
                                    <p>
                                        We <strong>share our experiences of failure and success</strong>, <br>reflecting on our mistakes and further developing what we did well.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/solution02.png" alt="">
                            <div class="sol-content">
                                <div class="sol-content-top bounce">
                                    <h1>Trust</h1>
                                </div>
                                <div class="sol-content-bottom">
                                    <p> We always think from <strong>the customer's point of view</strong> <br>
                                        and want to be a partner that provides trust.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/solution03.png" alt="">
                            <div class="sol-content">
                                <div class="sol-content-top">
                                    <h1>Win-Win</h1>
                                </div>
                                <div class="sol-content-bottom">
                                    <p>
                                        We maintain a <strong>win-win relationship</strong> for each other's <br>
                                        development on an equal footing with the company and employees.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="sec2">
            <div class="layout-md visible">
                <div class="tit-wrap" data-aos="fade-up" data-aos-duration="1300">
                    <h1>
                        We are an <strong>IT Solution Provider</strong> that optimally supports <br>rapidly changing retail distribution in the era of <br>e_Commerce and the Fourth Industrial Revolution.
                    </h1>
                    <p>
                        We provide extensive knowledge and deployment experience for the deployment of various <br>and complex retail solutions (consignment/injection, O2O, e_Com)
                        </p>
                </div>
            </div>
        </section>
        <div class="layout-md">
            <div class="sol-tit">
                <p>
                    YJ Innovation is a <strong>proven partner</strong> that provides standards <br>and differentiation for retail fashion wholesale and retail distribution.
                </p>
            </div>
        </div>
        <div class="sol-table">
            <div class="layout-md">
                
                <table class="pc-tbl" data-aos="fade-right" data-aos-duration="1500">
                    <tr>
                        <th>Company</th>
                        <td>YJ Innovation</td>
                        <th>Ceo</th>
                        <td>Park Myung-kwan</td>
                    </tr>
                    <tr>
                        <th>Establishment date</th>
                        <td>2013.06</td>
                        <th>Credit rating</th>
                        <td>ISO27001 Certification (Customer Information <br>
                            Protection Management) Corporate Credit Evaluation B++</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>7, Yeonmujang 5-ga-gil, Seongdong-gu, Seoul, <br>
                            Hyundai Terrace Tower E903</td>
                        <th>Contact</th>
                        <td>Tel : 02-2038-4513<br>E-mail : mgpark8@yjinno.co.kr<br>Fax : 050) 4152 9002</td>
                    </tr>
                    <tr>
                        <th>Hompage</th>
                        <td><a href="/">http://www.yjinno.co.kr</a></td>
                    </tr>
                </table>

                <table class="m-tbl" data-aos="fade-right" data-aos-duration="1500">
                    <tr>
                        <th>Company</th>
                        <td>YJ Innovation</td>
                    </tr>
                    <tr>
                        <th>Ceo</th>
                        <td>Park Myung-kwan</td>
                    </tr>
                    <tr>
                        <th>Establishment date</th>
                        <td>2013.06</td>
                    </tr>
                    <tr>
                        <th>Credit rating</th>
                        <td>ISO27001 Certification (Customer Information<br>
                            Protection Management) Corporate Credit Evaluation B++</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>7, Yeonmujang 5-ga-gil, Seongdong-gu, Seoul, <br> 
                            Hyundai Terrace Tower E903</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>Tel : 02-2038-4513 <br> E-mail : mgpark8@yjinno.co.kr<br>Fax : 050) 4152 9002</td>
                    </tr>
                    <tr>
                        <th>Hompage</th>
                        <td><a href="http://www.yjinno.co.kr">http://www.yjinno.co.kr</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="layout-md">
            <div class="sol-tit">
                <p><strong>Writing a new history</strong> of YJ Innovation solutionst</p>
            </div>
        </div>
        <div class="sol-history">
            <div class="layout-md">
                <table>
                    <tr data-aos="fade-right" data-aos-duration="1500">
                        <th class="year">20<b>21</b><span>~</span></th>
                        <td>
                            <ul class="project">
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">2021</div>
                                    <div>
                                        Establishment of e_COM solution
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">2021</div>
                                    <div>
                                        Shopping mall, SCM, OMS
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">2021</div>
                                    <div>
                                        Process automation (RPA)
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr data-aos="fade-right" data-aos-duration="1500">
                        <th class="year">20<b>20</b><span>~</span><br>20<b>17</b></th>
                        <td>
                            <ul class="project">
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">2020</div>
                                    <div>
                                        Golf Distribution Solution
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">2020</div>
                                    <div>
                                        Global SI project implementation
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">2017</div>
                                    <div>
                                        Obtained ISO 27001 certification
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">2017</div>
                                    <div>
                                        Implementation of government electronic receipt pilot project
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr data-aos="fade-right" data-aos-duration="1500">
                        <th class="year">20<b>16</b><span>~</span><br>20<b>12</b></th>
                        <td>
                            <ul class="project">
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">2013</div>
                                    <div>
                                        Establishment of YJ Innovation
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">2021</div>
                                    <div class="sub-year-col">
                                        Establishment of a fashion distribution IT platform
                                        <ul>
                                            <li>- Street stores, department stores</li>
                                            <li>- Women's clothing, men's clothing</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">2012</div>
                                    <div>
                                        Fashion distribution IT consulting and solution construction
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr data-aos="fade-right" data-aos-duration="1500">
                        <th class="year">20<b>11</b><span>~</span><br>19<b>97</b></th>
                        <td>
                            <ul class="project">
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">2000</div>
                                    <div>
                                        Fashion distribution business support
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-year" style="align-self: flex-start;">1997</div>
                                    <div>
                                        Fashion distribution IT solution business development
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
      </main>
      <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    
    <script src="/assets/js/main.js"></script>

</body>

</html>