<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer>
        <div class="footer-wrap">

            <div class="layout-md">
                <div class="footer-top">
                    <div class="footer-top-left">
                        <a href="/en" class="footer-logo">
                            <img src="/assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="footer-top-right">
                        <ul class="company-info">
                            <li>
                                <strong class="info-head">ADDRESS</strong>
                                <p class="info-text">7, Yeonmujang 5-ga-gil, Seongdong-gu, Seoul, Hyundai Terrace Tower E903</p>
                            </li>
                            <li>
                                <strong class="info-head">TEL</strong>
                                <p class="info-text">02-2038-4513. 010-3879-9002</p>
                            </li>
                            <li>
                                <strong class="info-head">E-MAIL</strong>
                                <p class="info-text">mgpark8@yjinno.co.kr</p>
                            </li>
                            <li>
                                <strong class="info-head">CEO</strong>
                                <p class="info-text">Park Myung-kwan</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="bar"></div>
            <div class="layout-md">
                <div class="footer-bottom">
                    <div class="footer-bottom-left">
                        <span>COPYRIGHT © YJ INNOVATION CO.,LTD. All RIGHTS RESERVED.</span>
                    </div>
                    <div class="footer-bottom-right">
                        <ul>
                            <li><a href="/en/information01">Privacy Statement</a></li>
                            <li><a href="/en/information02">Terms of Use</a></li>
                            <li><a href="/en/information03">Refusal of unauthorized e-mail collection</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>