<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1 class="logo">
            <a href="/en">
                <img src="/assets/img/logo.png" alt="">
            </a>
        </h1>
        <div class="gnb-wrap">
            <ul class="pc-gnb">
                <div class="pan"></div>
                <li>
                    <a href="/en/company">Company</a>
                    <!-- <ul class="sub-wrap">
                        <ul>
                            <li>와이제이이노베이션 소개</li>
                        </ul>
                    </ul> -->
                </li>
                <li>
                    <a href="/en/service01">Service</a>
                    <ul class="sub-wrap">
                        <ul>
                            <li><a href="/en/service01">Service Overview</a></li>
                            <li><a href="/en/service02">Service Model</a></li>
                            <li><a href="/en/service03">Performance Competency</a></li>
                        </ul>
                        
                    </ul>
                </li>
                <li>
                    <a href="/en/solution01">Solution</a>
                    <ul class="sub-wrap">
                        <ul>
                            <li><a href="/en/solution01">Solution Overview</a></li>
                            <li><a href="/en/solution02">ERP</a></li>
                            <li><a href="/en/solution03">POS</a></li>
                            <li><a href="/en/solution04">OMS</a></li>
                            <li><a href="/en/solution05">WMS</a></li>
                            <li><a href="/en/solution06">SCM</a></li>
                            <li><a href="/en/solution07">Promotion</a></li>
                            <li><a href="/en/solution08">RPA</a></li>
                            <li><a href="/en/solution09">e-Accounting</a></li>
                            <li><a href="/en/solution10">Customer DBMS</a></li>
                            <li><a href="/en/solution11">e-Shop</a></li>
                            <li><a href="/en/solution12">Analysis</a></li>
                            <li><a href="/en/solution13">Platform</a></li>
                        </ul>
                    </ul>
                </li>
                <li>
                    <a href="/en/performance">Performance</a>
                    <!-- <ul class="sub-wrap">
                        <ul>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                        </ul>
                    </ul> -->
                </li>
                <li>
                    <!-- <a href="javascript:void(0);">Partners</a> -->
                    <!-- <ul class="sub-wrap">
                        <ul>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                        </ul>
                    </ul> -->
                </li>
            </ul>
        </div>
        <div class="m-gnb-wrap">
            <div class="gnb-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="m-gnb">
                <ul class="m-gnb-header">
                    <li>
                        <a class="contact" href="/en/contact">Contact</a>
                    </li>
                    <li>
                        <div class="lang">
                            <span>ENG</span>
                            <img src="/assets/img/input-icon01.png" alt="">
                            <ul class="select-box">
                                <li><a href="/">KOR</a></li>
                                <!-- <li><a href="javascript:void(0);">셀렉트2</a></li>
                                <li><a href="javascript:void(0);">셀렉트3</a></li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="m-gnb-main">
                    <ul class="m-gnb-list">
                        <li>
                            <a href="/en/company">Company</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Service</a>
                            <ul class="m-2depth">
                                <li><a href="/en/service01">Service Overview</a></li>
                                <li><a href="/en/service02">Service Model</a></li>
                                <li><a href="/en/service03">Performance Competency</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Solution</a>
                            <ul class="m-2depth">
                                <li><a href="/en/solution01">Solution Overview</a></li>
                                <li><a href="/en/solution02">ERP</a></li>
                                <li><a href="/en/solution03">POS</a></li>
                                <li><a href="/en/solution04">OMS</a></li>
                                <li><a href="/en/solution05">WMS</a></li>
                                <li><a href="/en/solution06">SCM</a></li>
                                <li><a href="/en/solution07">Promotion</a></li>
                                <li><a href="/en/solution08">RPA</a></li>
                                <li><a href="/en/solution09">e-Accounting</a></li>
                                <li><a href="/en/solution10">Customer DBMS</a></li>
                                <li><a href="/en/solution11">e-Shop</a></li>
                                <li><a href="/en/solution12">Analysis</a></li>
                                <li><a href="/en/solution13">Platform</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/en/performance">Performance</a>
                        </li>
                        <!-- <li>
                            <a href="">Partners</a>
                        </li> -->
                    </ul>
                </div>
            </ul>
        </div>

        <ul class="header_right">
            <li>
                <a class="contact" href="/en/contact">Contact</a>
            </li>
            <li>
                <div class="lang">
                    <span>ENG</span>
                    <img src="/assets/img/input-icon01.png" alt="">
                    <ul class="select-box">
                        <li><a href="/">KOR</a></li>
                        <!-- <li><a href="javascript:void(0);">셀렉트2</a></li>
                        <li><a href="javascript:void(0);">셀렉트3</a></li> -->
                    </ul>
                </div>
            </li>
        </ul>
    </header>
    <script src="/assets/lib/gsap.min.js"></script>
    <script>
        let isLangListOpen = false;
        // 반복문 lang
        const langBtn2 = document.querySelectorAll('.lang');
        const langList2 = document.querySelectorAll('.select-box');
        langBtn2.forEach((e, idx) => {
            e.addEventListener('click', (event) => {
                isLangListOpen = !isLangListOpen;
                if (isLangListOpen) {
                    gsap.to(langList2[idx], {
                        height: '40px',
                        duration: 0.15,
                    })
                } else {
                    gsap.to(langList2[idx], {
                        height: 0,
                        duration: 0.15,
                    })
                }
            })
        })
    
        document.querySelector('.gnb-btn').addEventListener('click', (e) => {
            langList2.forEach( (e, idx) => {
                gsap.to(langList2[idx], {
                    height:0,
                    duration: 0
                })
            })
        })


        // pc - 2depth
        const li = document.querySelectorAll('.pc-gnb > li');
        const subWrap = document.querySelectorAll('.sub-wrap');
        li.forEach((e, idx) => {
            e.addEventListener('mouseover', (e) => {
                const sub = e.currentTarget.querySelector('ul');

                for (let i = 0; i < subWrap.length; i++) {
                    subWrap[i].classList.remove('on')
                }
                if (sub) {
                    sub.classList.add('on')
                }
            })
        })
        let hoverAnim = gsap.to(".sub-wrap", {
            paused: true,
            height: '100%',
            opacity: 1,
            visibility: 'visible',
            duration: '0.1',
            ease: 'linear',
        })

        document.querySelector('.pc-gnb').addEventListener('mouseenter', () => hoverAnim.play())
        document.querySelector('.pc-gnb').addEventListener('mouseleave', () => hoverAnim.reverse())


        // m-gnb
        const mOpen = document.querySelector('.m-gnb-wrap .gnb-btn');
        const mGnb = document.querySelector('.m-gnb')
        const depth1 = document.querySelectorAll('.m-gnb-list > li');
        const depth2 = document.querySelectorAll('.m-2depth');
        if (mOpen) {
            mOpen.addEventListener('click', () => {
                toggleClass(mOpen, 'on');
                toggleClass(mGnb, 'on');
                closeGnb(depth1, depth2);
                document.querySelector('body').classList.toggle('hidden')
            });

            function toggleClass(el, className) {
                el.classList.toggle(className);
            }
            function closeGnb(...el) {
                el.forEach((e) => {
                    e.forEach((e) => {
                        e.classList.remove('active')
                        e.classList
                    })
                })
            }




            const mGnbMenu = document.querySelectorAll('.m-gnb-list li');
            mGnbMenu.forEach((e, idx) => {
                e.addEventListener('click', (event) => {
                    if (event.currentTarget.querySelector('.m-2depth')) {
                        event.currentTarget.querySelector('.m-2depth').classList.toggle('active')
                        e.classList.toggle('active')
                    }
                })
            })
        }




    </script>


</body>

</html>