<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>yj - 이메일 무단수집 거부</title>
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail information">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Information</h1>
                    <p class="sub-tit">
                        Refuse Collect E-mail
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab type1">
                <a href="/en/information01" class="tab">Privacy Policy</a>
                <a href="/en/information02" class="tab">Terms of Use</a>
                <a href="/en/information03" class="tab active">Refuse Collect E-mail</a>
            </div>
        </div>
        <div class="layout-md">
            <h1 class="information-tit">Refuse Collect E-mail</h1>
            <div class="information-content">
                <ul>
                    <li>
                        <p>Please note that we refuse to collect email addresses posted on this website without permission using an e-mail collection program or other technical devices, and that violations will be criminally punished under the Information and Communication Network Act.</p>
                        <h2>Act on Promotion of Information and Communication Network Utilization and Information Protection, etc</h2>
                    </li>
                    <li>
                        <h2>Article 50-2 (Prohibition of Unauthorized Collection of Electronic Mail Addresses, etc.)</h2>
                        <ul>
                            <li>- No person shall collect e-mail addresses by using programs or other technical devices that automatically collect e-mail addresses from the Internet homepage without prior consent from the operator or administrator of the Internet homepage. </li>
                            <li>- No person shall sell or distribute e-mail addresses collected in violation of paragraph (1).</li>
                            <li>- No person shall know that the e-mail address is prohibited from collecting, selling, or distributing under paragraphs (1) and (2) and shall use it to transmit information.</li>
                        </ul>
                    </li>
                    <li>
                        <h2>Article 65 (Penal Provisions)</h2>
                        <p>- Any of the following persons shall be punished by imprisonment for not more than one year or a fine not exceeding 10 million won.</p>
                    </li>
                    <li>
                        <h2>A person who uses e-mail addresses for collection, sale, distribution, or transmission of information in violation of Article 50-2</h2>
                    </li>
                </ul>
            </div>     
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>