<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>yj - 이용약관</title>
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail information">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Information</h1>
                    <p class="sub-tit">
                        Terms of Use
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab type1">
                <a href="/en/information01" class="tab">Privacy Policy</a>
                <a href="/en/information02" class="tab active">Terms of Use</a>
                <a href="/en/information03" class="tab">Refuse Collect E-mail</a>
            </div>
        </div>
        <div class="layout-md">
            <h1 class="information-tit">Terms of Use</h1>
            <div class="information-content">
                <ul>
                    <div class="lg-tit">Chapter I General Rules</div>
                    <li>
                        <h2>Article 1 (Purpose)</h2>
                        <p>These terms and conditions are intended to prescribe matters concerning the conditions and procedures for the use of all services (hereinafter referred to as "Services") provided on the website of YJ Innovation (hereinafter referred to as the "Company").</p>
                    </li>
                    <li>
                        <h2>Article 2 (Definition)</h2>
                        <p>The definitions of terms used in these Terms and Conditions are as follows.</p>
                        <ul>
                            <li>1. User: A person who receives services provided by the company under these terms and conditions</li>
                            <li>2. Usage contract: Contract concluded between the company and the user in relation to the use of the service</li>
                            <li>3. Subscription: Completion of the service usage contract by filling in the application form provided by the company and agreeing to these terms and conditions</li>
                            <li>4. Member: Person who registered as a member by providing personal information necessary for membership registration on this site</li>
                            <li>5. User number (ID): Combination of English letters and numbers selected by the user and approved by the company for the identification of members and the use of the service by the member</li>
                            <li>6. Password (PASSWORD): Combination of English characters, numbers, and special characters set by the user himself to protect members' information</li>
                            <li>7. Termination of use: An expression of intention by the company or a member to terminate the contract of use after the use of the service</li>
                        </ul>
                    </li>
                    <li>
                        <h2>Article 3 (Effectiveness and Change of Terms)</h2>
                        <p>Members may request their withdrawal (cancellation) if they do not agree to the changed terms and conditions, and if they continue to use the service without expressing their refusal seven days after the effective date of the changed terms and conditions, they shall be deemed to have agreed to the changes.</p>
                    </li>
                    <li>
                        <ul>
                            <li>1. Effective by posting on the service screen of these Terms and Conditions, or by announcing them on the notice board or other means.</li>
                            <li>2. If deemed necessary, the company may change the contents of these terms and conditions, and the changed terms and conditions will be notified on the service screen. If the user continues to use the service without expressing his or her refusal even after seven days of notice, it is deemed to have agreed to the changes in the terms and conditions.</li>
                            <li>3. If the user does not agree to the changed terms and conditions, he or she may stop using the service and cancel his or her membership registration. If he or she continues to use the service, he or she is deemed to have agreed to the terms and conditions, and the changed terms and conditions will take effect in the same manner as in the preceding paragraph.</li>
                        </ul>
                    </li>
                    <li>
                        <h2>Article 4 (Applicable Regulations)</h2>
                        <p>Matters not specified in these Terms and Conditions shall be governed by the provisions of the Framework Act on Telecommunications, the Telecommunications Business Act and other relevant statutes.</p>
                    </li>
                    <h2 class="lg-tit">Chapter 2 Service Use Contract</h2>    
                    <li>
                        <h2>Article 5 (Establishment of Use Contract)</h2>
                        <p>The use contract is established with the consent of the company to the user's application for use and the consent of the user's terms and conditions.</p>
                    </li>
                    <li>
                        <h2>Article 6 (Application for Use)</h2>
                        <p>You can apply by recording personal information on the application form requested by the company on the membership information screen of the service.</p>
                    </li>
                    <li>
                        <h2>Article 7 (Approval of Application for Use)</h2>
                        <ul>
                            <li>1. Where a member applies for use by stating all the details of the application accurately, the application for use of the service shall be accepted unless there are special circumstances.</li>
                            <li>2. In any of the following cases, approval for use may not be made:</li>
                            <li>① When an application is not made under the real name of the person</li>
                            <li>② When an application is made using another person's name</li>
                            <li>③ When an application is made falsely</li>
                            <li>④ When an application is made for the purpose of hindering social well-being or customs</li>
                            <li>⑤ When the requirements for use application set by the company are insufficient</li>
                        </ul>
                    </li>
                    <li>
                        <h2>Article 8 (Change of contract terms)</h2>
                        <ul>
                            <li>Members shall modify the matters entered at the time of application for use, and the members shall be responsible for any problems arising from the failure to modify them.</li>
                        </ul>
                    </li>
                    <h2 class="lg-tit">Chapter 3 Obligations of Contracting Parties</h2>
                    <li>
                        <h2>Article 9 (Company's Duty)</h2>
                        <p>A company shall not divulge or distribute personal information of its members to a third party without their consent. However, this shall not be the case if there is a request from a state agency pursuant to the provisions of the Framework Act on Telecommunications, or if there is a request for investigation of a crime or by other procedures prescribed by relevant laws and regulations.</p>
                    </li>
                    <li>
                        <h2>Article 10 (Obligation of Members)</h2>
                        <ul>
                            <li>1. Members shall not perform the following acts when using the service.</li>
                            <ul>
                                <li style="padding-left:12px;">① Unlawful use of other members' IDs</li>
                                <li style="padding-left:12px;">② Reproducing, publishing, or providing information obtained from the service to a third party</li>
                                <li style="padding-left:12px;">③ Infringing other rights such as the copyright of the company, the copyright of a third party, etc.</li>
                                <li style="padding-left:12px;">④ Spreading content that violates public order and customs </li>
                                <li style="padding-left:12px;">⑤ Acts that are objectively determined to be linked to crimes</li>
                                <li style="padding-left:12px;">⑥ and other acts that violate relevant laws and regulations</li>
                            </ul>
                            <li>2. Members shall not engage in business activities using the service, and the company shall not be liable for any consequences arising from the use of the service.</li>
                            <li>3. Members shall not transfer or gift the authority to use the service or other status under the contract of use to another person, nor shall they be provided as collateral.</li>
                        </ul>
                    </li>
                    <h2 class="lg-tit">Chapter 4 Use of Services</h2>
                    <li>
                        <h2>Article 11 (Duty of Members)</h2>
                        <ul>
                            <li>1. Members are responsible for maintenance such as their own mail, bulletin boards, and registered materials as necessary.</li>
                            <li>2. Members may not arbitrarily delete or change materials provided by the company.</li>
                            <li>3. Members shall not register content that violates public order and customs or other rights, such as copyrights of third parties, on the company's website. Members are fully responsible for the consequences of publishing such content.</li>
                        </ul>
                    </li>
                    <li>
                        <h2>Article 12 (Post Management and Deletion)</h2>
                        <p>For efficient service operation, members' memory space, message size, storage days, etc. may be limited, and if the contents to be registered fall under any of the following, they may be deleted without prior notice.</p>
                        
                        <ul>
                            <li>1. In the case of slander or slander of other members or third parties</li>
                            <li>2. In the case of violating public order and customs</li>
                            <li>3. In the case of content deemed to be linked to criminal acts</li>
                            <li>4. In the case of infringement of the company's copyright, third party's copyright, etc.</li>
                            <li>5. In the case of a member posting pornography on the company's website and bulletin board</li>
                            <li>6. In the case where it is deemed that it violates other relevant laws and regulations</li>
                        </ul>
                    </li>
                    <li>
                        <h2>Article 13 (Copyright of Post)</h2>
                        <p>The copyright of the post belongs to the publisher himself, and members may not commercially use materials published in the service, such as the act of processing or selling information obtained using the service.</p>
                    </li>
                    <li>
                        <h2>Article 14 (Time of Service Use)</h2>
                        <p>In principle, the use of services shall be 24 hours a day, 7 days a week, unless there is a special obstacle to business or technology: Provided, That this shall not apply in the event of a reason for regular inspections, etc.</p>
                    </li>
                    <li>
                        <h2>Article 15 (Responsibility for Service Use)</h2>
                        <p>No hacking, links to obscene sites, illegal distribution of commercial S/W, etc. shall be conducted using the service, and the company shall not be liable for the consequences and losses of business activities caused by such violations, or legal actions taken by related agencies.</p>
                    </li>
                    <li>
                        <h2>Article 16 (Suspension of Service Provision)</h2>
                        <p>You can stop providing services in any of the following cases.</p>
                        <ul style="margin-top:0;">
                            <li>1. Where it is unavoidable due to construction, such as maintenance of service facilities, etc</li>
                            <li>2. Where a telecommunications business operator stipulated in the Telecommunications Business Act suspends telecommunications services</li>
                            <li>3. If a system check is required</li>
                            <li>4. Where there are other reasons for force majeure</li>
                        </ul>
                    </li>
                    <h2 class="lg-tit">Chapter 5 Termination of Contracts and Restrictions on Use</h2>
                    <li>
                        <h2>Article 17 (Termination of Contract and Restriction of Use)</h2>
                        <ul>
                            <li>1. When a member intends to terminate a use contract, the member himself/herself must apply for termination through the Internet, and the company will check whether he/she is himself/herself and take action.</li>
                            <li>2. When a member commits any of the following acts, the company shall notify the customer of his/her intention 30 days before the termination and give him/her an opportunity to state his/her opinion.</li>
                            <ul>
                                <li>① In the case of stealing another person's user ID and password</li>
                                <li>② Willfully obstructing the operation of the service </li>
                                <li>③ In the case of false application for membership</li>
                                <li>④ If the same user has double registered with a different ID</li>
                                <li>⑤ In the case of disseminating content that hinders public order and customs</li>
                                <li>⑥ Where he/she commits an act that damages or disadvantages the reputation of another person</li>
                                <li>⑦ Where a large amount of information is transmitted or advertising information is transmitted for the purpose of interfering with the stable operation of the service</li>
                                <li>⑧ In the case of distributing computer virus programs, etc. that cause malfunction of information and communication facilities or destruction of information, etc</li>
                                <li>⑨ In the case of infringement of intellectual property rights of the company or any other member or third party</li>
                                <li>⑩ When the personal information, user ID, and password of another person are used illegally</li>
                                <li>⑪ Where a member posts obscene materials on his or her website or bulletin board or links obscene sites</li>
                                <li>⑫ Where it is deemed to be in violation of other relevant laws and regulations</li>
                            </ul>
                        </ul>
                    </li>
                    <h2 class="lg-tit">Chapter 6 Others</h2>
                    <li>
                        <h2>Article 18 (Prohibition of Transfer)</h2>
                        <p>Members shall not transfer or gift the right to use the service or other status under the contract of use to another person, and shall not provide it as collateral.</p>
                    </li>
                    <li>
                        <h2>Article 19 (Compensation for damages)</h2>
                        <p>The Company shall not be liable for any damages to its members in connection with the services provided free of charge, except for any damages caused by intentional or gross negligence of the Company.</p>
                    </li>
                    <li>
                        <h2>Article 20 (Exemption clause)</h2>
                        <ul>
                            <li>1. The Company is exempt from the responsibility of providing services if it is unable to provide services due to natural disasters, wars, or other equivalent force majeure.</li>
                            <li>2. The company is exempted from liability for damages caused by unavoidable reasons such as maintenance, replacement, regular inspection, and construction of service facilities.</li>
                            <li>3. The company is not responsible for any disability in the use of the service due to reasons attributable to the members.</li>
                            <li>4. The Company shall not be liable for the profits expected from the use of the Service or for any damages caused by the data obtained through the Service.</li>
                            <li>5. The company shall not be responsible for the information, data, reliability of facts, accuracy, etc. posted by the members on the service.</li>
                        </ul>
                    </li>
                    <li>
                        <h2>Article 21 (Jurisdiction Court)</h2>
                        <ul>
                            <li>If a lawsuit is filed against a dispute arising from the use of the service, the court having jurisdiction over the location of the company shall be the exclusive jurisdiction court.</li>
                        </ul>
                    </li>
                    <li>
                        <h2>an irregularity</h2>
                        <p>(Effective Date) These terms and conditions will take effect from 2019-01-01.</p>
                    </li>
                </ul>
            </div>     
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>