<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>yj - Privacy Policy</title>
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail information">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Information</h1>
                    <p class="sub-tit">
                        Privacy Policy
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab type1">
                <a href="/en/information01" class="tab active">Privacy Policy</a>
                <a href="/en/information02" class="tab">Terms of Use</a>
                <a href="/en/information03" class="tab">Refuse Collect E-mail</a>
            </div>
        </div>
        <div class="layout-md">
            <h1 class="information-tit">Privacy policy</h1>
            <div class="information-content">
                <ul>
                    <li>
                        <h2>Consent to the collection of personal information</h2>
                        <p>The company considers that you have agreed to the collection of personal information by clicking the "I agree" or "I disagree" button on the contents of the company's privacy policy or terms and conditions.</p>
                    </li>
                    <li>
                        <h2>the protection of children's personal information</h2>
                        <ul>
                            <li>① The company obtains the consent of its legal representative when collecting personal information of children under the age of 14.</li>
                            <li>② The legal representative of a child under the age of 14 may request the access, correction, or withdrawal of consent of the child's personal information, and the company will take necessary measures without delay if such a request is made. 
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2>Items of personal information to be collected</h2>
                        <p>The company collects the following personal information for membership registration, consultation, and service application.</p>
                        <ul>
                            <li>① Collecting items: name, date of birth, gender, login ID, password, home phone number, home address, mobile phone number, email, occupation, marital status, resident registration number, service usage record, access log, cookie, access IP information, payment record</li>
                            <li>② How to collect personal information: homepage (member registration, bulletin board, etc.), request delivery</li>
                        </ul>
                    </li>
                    <li>
                        <h2>Purpose of collection and use of personal information</h2>
                        <p class="information-sub-tit">The company utilizes the collected personal information for the following purposes.</p>
                        <ul>
                            <li>① Implementation of the contract for service provision and settlement of charges based on service provision
                                Provide content, purchase and charge payment, delivery of goods or delivery of billing address, etc</li>
                            <li>② Member management<br>
                                Identification according to the use of the membership service, personal identification, prevention of illegal use and unauthorized use of bad members, confirmation of intention to join, confirmation of age, confirmation of consent by legal representatives when collecting personal information for children under the age of 14, handling complaints, and delivering notices</li>
                            <li>③ Use in marketing and advertising<br>
                                Statistics on the delivery of advertising information, such as events, frequency of access, or use of services by members
                                However, we do not collect sensitive personal information (race and ethnicity, ideology and creed, place of origin and place of origin, political orientation and criminal records, health conditions, and sex life) that may violate the basic human rights of users. 
                                </li>
                        </ul>
                    </li>
                    <li>
                        <h2>Period of retention and use of personal information</h2>
                        <ul>
                            <li>
                                ① Your personal information will be destroyed when the purpose of collecting or providing personal information is achieved as follows.
                                <p>- In the case of membership information, when a person withdraws from membership or is expelled from membership</p>
                                <p>- In the case of payment information, when the date of completion of the payment or the expiration of the prescription period for extinguishing the claim</p>
                                <p>- In the case of delivery information, when goods or services are delivered or provided (except when it is necessary to preserve them according to the provisions of laws and regulations such as the Commercial Act)</p>
                            </li>
                            <li>
                                ② We will get your consent if it is necessary to keep it despite the above retention period.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2>Procedures and methods for destroying personal information</h2>
                        <p>In principle, the company shall destroy the relevant information without delay after the purpose of collecting and using personal information has been achieved. The procedure and method for destruction are as follows.</p>
                        <ul>
                            <li>
                                ① procedure for destruction<br>
                                <p>The information you enter for membership registration, etc., will be transferred to a separate DB after the purpose is achieved (a separate document box in the case of paper), stored for a certain period of time according to the internal policy and other reasons for information protection under related laws (see retention and use period), and destroyed. Personal information transferred to a separate DB will not be used for any purpose other than being held unless it is by law.</p>
                            </li>
                            <li>
                                ② How to destroy it
                                <p>- Personal information stored in electronic file format is deleted using a technical method that does not allow records to be played back.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2>Provision of Personal Information</h2>
                        <p>In principle, the company does not provide the user's personal information to the outside. However, the following cases are exceptional.</p>
                        <ul>
                            <li>
                                - Users have agreed in advance
                            </li>
                            <li>
                                - Where there is a request from an investigative agency in accordance with the provisions of the Act or in accordance with the procedures and methods prescribed by the Act for investigation purposes
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2>Consignment of collected personal information</h2>
                        <p>The company can outsource your personal information to improve the service.</p>
                        <ul>
                            <li>① If you entrust the processing of personal information, we will notify you in advance.</li>
                            <li>② In the case of entrusting the processing of personal information, the service provider's strict guidelines on personal information protection, confidentiality of personal information, prohibition of providing third parties, and responsibility for accidents will be clearly defined through consignment contracts, and the contents of the contract will be kept in writing or electronically.</li>
                            <li>- Consignment target: [Courier name]</li>
                            <li>- Details of consignment work: [Content of consignment by courier] ex. Delivery of goods</li>
                            <li>- Subject to consignment: [Name of PG]</li>
                            <li>- Details of consignment work: [Contract of PG] ex. Purchase and payment of charges</li>
                        </ul>
                    </li>
                    <li>
                        <h2>Rights of users and legal representatives and the laws of their exercise</h2>
                        <p>Users can inquire or modify their registered personal information at any time and request cancellation of the subscription.</p>
                        <p>For users to inquire and modify their personal information, you can directly view, correct, or withdraw after going through the self-verification process by clicking "member withdrawal" to cancel "personal information change" (or "member information correction", etc.).</p>
                        <p>Or contact the person in charge of personal information management in writing, by phone, or by e-mail, and we will take action without delay.</p>
                        <p>If you request correction of an error in personal information, the personal information will not be used or provided until the correction is completed. In addition, if incorrect personal information has already been provided to a third party, we will notify the third party of the correction processing result without delay so that the correction can be made.</p>
                        <p>The company processes personal information terminated or deleted at the request of the user in accordance with the "Duration of Retention and Use of Personal Information Collected by the Company" and prevents it from being viewed or used for other purposes. </p>
                    </li>
                    <li>
                        <h2>Technical Measures for Personal Information Protection</h2>
                        <p>The company is taking the following technical measures to ensure safety in handling your personal information so that your personal information is not lost, stolen, leaked, tampered with or damaged.</p>
                        <ul>
                            <li>① Your personal information is protected by a password, and your sensitive data is protected by a separate security feature by encrypting files and transmission data or using a file lock function (Lock).</li>
                            <li>② The company is using its vaccine program to take steps to prevent damage from computer viruses. The vaccine program is updated periodically and in the event of a sudden virus outbreak, it is provided as soon as a vaccine is available to prevent personal information from being compromised.</li>
                            <li>③ The company adopts a security device (SSL or SET) that can safely transmit personal information on the network using a cryptographic algorithm.</li>
                            <li>④ In order to prevent your personal information from being leaked by hacking, etc., we are using a device that blocks intrusion from the outside, and we install an intrusion detection system for each server to monitor intrusion 24 hours a day.</li>
                        </ul>
                    </li>
                    <li>
                        <h2>Matters concerning the installation and operation of an automatic personal information collection device and its refusal</h2>
                        <p>The company operates "cookie," which stores and finds your information from time to time. A cookie is a tiny text file sent to your browser by a server that runs ooo's website and is stored on your computer's hard disk. The company uses cookies for the following purposes.</p>
                        <ul>
                            <li>▶ Purpose of use of cookies, etc</li>
                            <li>
                                - Target marketing and personalized services are provided by analyzing the frequency of access and visit time of members and non-members, identifying user preferences and areas of interest, tracking the degree of participation in various events, and identifying the number of visits
                                <p>You have the option of installing cookies. Therefore, you can allow all cookies by setting options in your web browser, go through confirmation every time they are saved, or refuse to save all cookies.</p>
                            </li>
                            <li>
                                ▶ How to reject cookie settings<br>
                                <p>Example: To deny cookie settings, you can either accept all cookies by selecting the options in your web browser, check every time you save them, or deny saving all cookies.</p>
                            </li>
                        </ul>
                        <p>Example of how to set up (for Internet Explorer): Tools > Internet Options > Privacy</p>
                        <p>However, if you refuse to install cookies, there may be difficulties in providing services.</p>
                    </li>
                    <li>
                        <h2>Civil service regarding personal information</h2>
                        <p>In order to protect the personal information of customers and to handle complaints related to personal information, the company has designated the relevant departments and personal information management officers as follows.</p>
                        <ul>
                            <li>Name of person in charge of personal information management: Park Myung-kwan</li>
                            <li>Phone number : 02-2038-4513</li>
                            <li>Email : <a href="mailto:mgpark8@yjinno.co.kr">mgpark8@yjinno.co.kr</a></li>
                        </ul>
                        <p>You can report any complaints about personal information protection to the person in charge of personal information management or to the department in charge when using the company's services. The company will promptly and sufficiently respond to users' reports.</p>
                        <p>If you need to report or consult other personal information infringement, please contact the institution below.</p>
                        <ul>
                            <li>1. Personal Dispute Mediation Committee (<a href="https://www.kopico.go.kr/main/main.do">www.kopico.go.kr/1336</a>)</li>
                            <li>2. Information Protection Mark Certification Committee (<a href="https://www.eprivacy.or.kr/index.do">www.eprivacy.or.kr/02-580-0533~4</a>)</li>
                            <li>3. Supreme Prosecutors' Office Internet Crime Investigation Center (<a href="https://www.spo.go.kr/site/spo/main.do">www.spo.go.kr/02-3480-3600</a>)</li>
                            <li>4. National Police Agency Cyber Terror Response Center (<a href="https://www.cyber.go.kr/prevention/sub4_4.jsp?mid=020505">www.cyber.go.kr/02-392-0330</a>)</li>
                        </ul>
                    </li>
                </ul>
            </div>     
        </div>
    </main>
    
    <%- include('footer.ejs') %>


    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>