<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>YJ - Performance</title>
    <!-- <link rel="stylesheet" href="/assets/lib/swiper.min.css"> -->
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail performance">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Performance</h1>
                    <p class="sub-tit">
                        Performance List
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type3">
                <h2>Performance</h2>
                <p>Establishment of retail distribution ERP, POS system, and cutting-edge automated logistics system</p>
            </div>
        </div>
        <div class="layout-md">
            <div class="projects">
                <ul>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/indian.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>INDIAN</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>Build retail distribution ERP<br>
                                        Build an SCM for the whole process</span>
                                </li>
                                <li>
                                    <h1>Brand</h1>
                                    <span>INDIAN, Olivia Lauren, NII</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/hyungji.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>Hyngji Retail</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>Build retail distribution ERP<br>
                                        Operation of complex stores</span>
                                </li>
                                <li>
                                    <h1>Brand</h1>
                                    <span>Crocodile Ladies, Chatlaine,<br>Olivia Hassler</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/fila.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>FILA</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>Build a FILA Force System
                                        Includes customer and campaign 
                                        capabilities</span>
                                </li>
                                <li>
                                    <h1>Brand</h1>
                                    <span>FILA</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/hyungji.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>Hyngji INC</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>Build retail distribution ERP
                                        Production, planning 
                                        (including computerized worksites)</span>
                                </li>
                                <li>
                                    <h1>Brand</h1>
                                    <span>Yezac, Bon</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/honma.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>HONMA</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>POS System Development
                                        Mainly for sales processing 
                                        (SAP interworking)</span>
                                </li>
                                <li>
                                    <h1>Brand</h1>
                                    <span>HONMA</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/titleist.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>Titleist</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>Build retail distribution ERP
                                        Real-time interworking 
                                        with U.S. headquarters</span>
                                </li>
                                <li>
                                    <h1>Brand</h1>
                                    <span>Titleist, FJ</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/superga.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>Leather</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>Wholesale order of shoe supplies 
                                        and build e_Shop
                                        Order-order sales of multiple varieties</span>
                                </li>
                                <li>
                                    <h1>Brand</h1>
                                    <span>Brand Networks</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/hanssem.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>HANSSEM</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>Development of Sales Management System for Household Goods
                                        Real-time interworking with U.S. headquarters</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/kisa.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>KISA(Korea Interent & Security Agency)</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>Establishment of public electronic receipt pilot service
                                        Mobile Electronic Receipt Test Service to the Public</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/hyungji.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>Hyungji</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>Establishment of state-of-the-art automated logistics system
                                        Sorter, DAS, Stacker Crane,PDA WMS</span>
                                </li>
                                <li>
                                    <h1>Brand</h1>
                                    <span>Crocodile Ladies, Chatlaine</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/rpa_logo.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>RPA</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>Automatic ordering system
                                        Construction of automatic ordering system using RPA</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="project-img">
                            <img src="/assets/img/eunsan.png" alt="">
                        </div>
                        <div class="project-content">
                            <ul>
                                <li>
                                    <h1>Project</h1>
                                    <span>Integrated Logistics System Consulting</span>
                                </li>
                                <li>
                                    <h1>Role</h1>
                                    <span>Logistics advancement plan consulting, import/export brokerage, warehouse, transportation integrated logistics advancement</span>
                                </li>
                                <li>
                                    <h1>Brand</h1>
                                    <span>Eunsan Shipping Airlines ETC</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>