<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Service - 서비스 개요</title>
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail service">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Service</h1>
                    <p class="sub-tit">
                        Service Overview
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/en/service01" class="tab active">Service Overview</a>
                <a href="/en/service02" class="tab">Service Model</a>
                <a href="/en/service03" class="tab">Performance Competency</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit">
                <h2>Configuration</h2>
                <p>ERP, POS, Shopping mall, WMS, SCM, Customer management, Promotion, OMS, e_Accounting, RPA</p>
            </div>
        </div>
        <div class="layout-md">
            <div class="gallery-container">
                <ul class="service-gallery" data-aos="fade-up" data-aos-duration="1000">
                    <li>
                        <a href= "/en/solution02">
                            <img src="/assets/img/service01.png" alt="">
                            <div class="gallery-content">
                                <h1>ERP</h1>
                                <div class="view-more">
                                    <a href="/en/solution02">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/en/solution03">
                            <img src="/assets/img/service02.png" alt="">
                            <div class="gallery-content">
                                <h1>POS</h1>
                                <div class="view-more">
                                    <a href="/en/solution03">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/en/solution11">
                            <img src="/assets/img/service03.png" alt="">
                            <div class="gallery-content">
                                <h1>e-Shop</h1>
                                <div class="view-more">
                                    <a href="/en/solution11">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/en/solution05">
                            <img src="/assets/img/service04.png" alt="">
                            <div class="gallery-content">
                                <h1>WMS</h1>
                                <div class="view-more">
                                    <a href="/en/solution05">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                    
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/en/solution06">
                            <img src="/assets/img/service05.png" alt="">
                            <div class="gallery-content">
                                <h1>SCM</h1>
                                <div class="view-more">
                                    <a href="/en/solution06">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/en/solution10">
                            <img src="/assets/img/service06.png" alt="">
                            <div class="gallery-content">
                                <h1>Customer DBMS</h1>
                                <div class="view-more">
                                    <a href="/en/solution10">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/en/solution07">
                            <img src="/assets/img/service07.png" alt="">
                            <div class="gallery-content">
                                <h1>Promotion</h1>
                                <div class="view-more">
                                    <a href="/en/solution07">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/en/solution04">
                            <img src="/assets/img/service08.png" alt="">
                            <div class="gallery-content">
                                <h1>OMS</h1>
                                <div class="view-more">
                                    <a href="/en/solution04">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/en/solution09">
                            <img src="/assets/img/service09.png" alt="">
                            <div class="gallery-content">
                                <h1>e-Accounting</h1>
                                <div class="view-more">
                                    <a href="/en/solution09">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/en/solution08">
                            <img src="/assets/img/service10.png" alt="">
                            <div class="gallery-content">
                                <h1>RPA</h1>
                                <div class="view-more">
                                    <a href="/en/solution08">
                                        <span>View more</span>
                                        <img src="/assets/img/read_more_sm.svg " alt="">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
    
                </ul>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit">
                <h2>BM</h2>
                <p>Bright Method</p>
            </div>
        </div>
        <div class="solution-list-wrap">
            <ul class="solution-list">
                <li data-aos="fade-up" data-aos-duration="1600" data-aos-delay="150">
                    <a href="javascript:void(0);">
                        <div class="list-img">
                            <img src="/assets/img/solution-list01.png" alt="">
                        </div>
                        <div class="list-content">
                            <h1>Information Service Solutions</h1>
                            <p>It is an information service solution that optimally supports online and offline retail distribution environments.</p>
                        </div>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-duration="1600" data-aos-delay="300">
                    <a href="javascript:void(0);">
                        <div class="list-img">
                            <img src="/assets/img/solution-list02.png" alt="">
                        </div>
                        <div class="list-content">
                            <h1>Customer Support Solutions</h1>
                            <p>It is a solution that can support customer needs and work changes by applying the elemental technology of the 4th industrial revolution.</p>
                        </div>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-duration="1600" data-aos-delay="450">
                    <a href="javascript:void(0);">
                        <div class="list-img">
                            <img src="/assets/img/solution-list03.png" alt="">
                        </div>
                        <div class="list-content">
                            <h1>Consulting Services</h1>
                            <p>It is a consulting service based on extensive work experience and technology to respond to work changes in the e_Commerce era.</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="layout-md">
            <div class="page-tit">
                <h2>Certificate</h2>
                <p>Service level</p> 
            </div>
        </div>
        <div class="certification">
            <div class="certification-box">
                <div class="certification-head" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="800"><p>Korean Foundation<br>for Quality</p></div>
                <div class="certification-content">
                    <div class="certification-img" data-aos="fade-right" data-aos-duration="1600" data-aos-delay="400">
                        <img src="/assets/img/service-mark.png" alt="">
                    </div>
                    <div class="certification-text" data-aos="fade" data-aos-duration="1600">
                        <p>We systematically protect our customers'<br> information in compliance with<br><strong>the International Standard Information<br> Protection Management System.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>