<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Service - 서비스 모델</title>
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail service">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Service</h1>
                    <p class="sub-tit">
                        Service Model
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/en/service01" class="tab">Service Overview</a>
                <a href="/en/service02" class="tab active">Service Model</a>
                <a href="/en/service03" class="tab">Performace Competency</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>Service Model</h2>
                <p>Provides integrated service capabilities across retail distribution operations.</p>
            </div>
        </div>
        <div class="layout-md">
            <div class="service-models">
                <div class="service-model type1">
                    <h1>Distribution channel</h1>
                    <ul class="model-lists" data-aos="fade-up" data-aos-duration="1400">
                        <li>
                            <img src="/assets/img/model-service01.png" alt="">
                            <span>Store</span>
                        </li>
                        <li>
                            <img src="/assets/img/model-service02.png" alt="">
                            <span>Outlet</span>
                        </li>
                        <li>
                            <img src="/assets/img/model-service03.png" alt="">
                            <span>Home shopping</span>
                        </li>
                        <li>
                            <img src="/assets/img/model-service04.png" alt="">
                            <span>Shopping mall</span>
                        </li>
                        <li>
                            <img src="/assets/img/model-service05.png" alt="">
                            <span>Direct store</span>
                        </li>
                    </ul>
                </div>
                <div class="service-model type2">
                    <h1>Front Office <span>&</span> Back Office <span>&</span> Process Support</h1>
                    <ul class="model-lists" data-aos="fade-up" data-aos-duration="1400">
                        <li>
                            <span>Promotion</span>
                        </li>
                        <li>
                            <span>OMS</span>
                        </li>
                        <li>
                            <span>POS</span>
                        </li>
                        <li>
                            <span>e-Shop</span>
                        </li>
                        <li>
                            <span>Customer Management</span>
                        </li>
                        <li>
                            <span>ERP</span>
                        </li>
                        <li>
                            <span>WMS</span>
                        </li>
                        <li>
                            <span>SCM</span>
                        </li>
                        <li>
                            <span>e_Accounting electronic slip</span>
                        </li>
                        <li>
                            <span>RPA process automation</span>
                        </li>
                        <li>
                            <span>Analyze</span>
                        </li>
                    </ul>
                </div>
                <div class="service-model type3">
                    <h1>Platform</h1>
                    <ul class="model-lists" data-aos="fade-up" data-aos-duration="1400">
                        <li>
                            <span>Community</span>
                        </li>
                        <li>
                            <span>Common Procedure</span>
                        </li>
                        <li>
                            <span>Manage permissions</span>
                        </li>
                        <li>
                            <span>Menu Configuration and Management</span>
                        </li>
                        <li>
                            <span>System Access Control</span>
                        </li>
                        <li>
                            <span>Log Management</span>
                        </li>
                        <li>
                            <span>Authentication of User Equipment</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        
        <!-- <div class="service-models type2">
            <div class="model-box">
                <div class="model-head"><span>Front Ofiice<br>서비스</span></div>
                <ul class="model-lists">
                    <li>
                        <div class="model-content">
                            <div class="model-text">Promotion</div>
                        </div>
                    </li>
                    <li>
                        <div class="model-content">
                            <div class="model-text">OMS</div>
                        </div>
                    </li>
                    <li>
                        <div class="model-content">
                            <div class="model-text">POS</div>
                        </div>
                    </li>
                    <li>
                        <div class="model-content">
                            <div class="model-text">e-Shop</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="model-box">
                <div class="model-head"><span>Front Ofiice<br>서비스</span></div>
                <ul class="model-lists">
                    <li>
                        <div class="model-content">
                            <div class="model-text">Promotion</div>
                        </div>
                    </li>
                    <li>
                        <div class="model-content">
                            <div class="model-text">OMS</div>
                        </div>
                    </li>
                    <li>
                        <div class="model-content">
                            <div class="model-text">POS</div>
                        </div>
                    </li>
                    <li>
                        <div class="model-content">
                            <div class="model-text">e-Shop</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="model-box">
                <div class="model-head"><span>Front Ofiice<br>서비스</span></div>
                <ul class="model-lists">
                    <li>
                        <div class="model-content">
                            <div class="model-text">Promotion</div>
                        </div>
                    </li>
                    <li>
                        <div class="model-content">
                            <div class="model-text">OMS</div>
                        </div>
                    </li>
                    <li>
                        <div class="model-content">
                            <div class="model-text">POS</div>
                        </div>
                    </li>
                    <li>
                        <div class="model-content">
                            <div class="model-text">e-Shop</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div> -->
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>