<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Service - 수행역량</title>
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail service">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Service</h1>
                    <p class="sub-tit">
                        Performance Competency
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/en/service01" class="tab">Service Overview</a>
                <a href="/en/service02" class="tab">Service Model</a>
                <a href="/en/service03" class="tab active">Performance Competency</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>Performance Competency</h2>
                <p>It provides excellent IT services to customers with an accurate understanding of retail work,<br> customer-oriented, and integrated platform delivery capabilities.</p>
            </div>
        </div>
        <div class="layout-md vsible">
            <div class="circle-graph">
                <div class="circle-img">
                    <img src="/assets/img/m_circle_graph.png" alt="">
                    <div class="graph-box" data-aos="fade-right" data-aos-duration="1400">
                        <div class="graph-content">
                            <h1>Business comprehension</h1>
                            <ul>
                                <li>• Wealth of project experience</li>
                                <li>• Understanding Retail Job Characteristics</li>
                            </ul>
                        </div>
                    </div>
                    <div class="graph-box"  data-aos="fade-right" data-aos-duration="1400">
                        <div class="graph-content">
                            <h1>Intergrated Platform</h1>
                            <ul>
                                <li>• Process establishment and standardization</li>
                                <li>• Retail-only Platform</li>
                            </ul>
                        </div>
                    </div>
                    <div class="graph-box"  data-aos="fade-left" data-aos-duration="1400" data-aos-delay="100">
                        <div class="graph-content">
                            <h1>Customer Focus</h1>
                            <ul>
                                <li>• Ease of use and streamline business operations</li>
                                <li>• Reduce TCO with ease of operation and maintenance</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="m-graph">
                    <div class="graph-box">
                        <div class="graph-content">
                            <h1>Business comprehension</h1>
                            <ul>
                                <li>• Wealth of project experience</li>
                                <li>• Understanding Retail Job Characteristics</li>
                            </ul>
                        </div>
                    </div>
                    <div class="graph-box">
                        <div class="graph-content">
                            <h1>Intergrated Platform</h1>
                            <ul>
                                <li>• Process establishment and standardization</li>
                                <li>• Retail-only Platform</li>
                            </ul>
                        </div>
                    </div>
                    <div class="graph-box">
                        <div class="graph-content">
                            <h1>Customer Focus</h1>
                            <ul>
                                <li>• Ease of use and streamline business operations</li>
                                <li>• Reduce TCO with ease of operation and maintenance</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>