<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Solution - POS</title>
    <link rel="stylesheet" href="/assets/lib/swiper.min.css">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Solution</h1>
                    <p class="sub-tit">
                        POS
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/en/solution01" class="tab">Solution Overview</a>
                <a href="/en/solution02" class="tab">ERP</a>
                <a href="/en/solution03" class="tab active">POS</a>
                <a href="/en/solution04" class="tab">OMS</a>
                <a href="/en/solution05" class="tab">WMS</a>
                <a href="/en/solution06" class="tab">SCM</a>
                <a href="/en/solution07" class="tab">Promotion</a>
                <a href="/en/solution08" class="tab">RPA</a>
                <a href="/en/solution09" class="tab">e-Accounting</a>
                <a href="/en/solution10" class="tab">Customer DBMS</a>
                <a href="/en/solution11" class="tab">e-Shop</a>
                <a href="/en/solution12" class="tab">Analysis</a>
                <a href="/en/solution13" class="tab">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>POS  Introduction Effect</h2>
                <p>Excellent store operation and various sales processing under communication and control with headquarters</p>
            </div>
        </div>
        <div class="layout-md visible card type1" data-aos="fade-left" data-aos-duration="800">
            <div class="cards type1 pos">
                <div class="card">
                    <div class="card-num">01</div>
                    <div class="card-text">
                        <h1>Onestop Services</h1>
                        <p>Sales, returns, employee sales, campaign application, event sales, receipt returns, mileage, etc. can be conveniently used on the sales processing screen</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">02</div>
                    <div class="card-text">
                        <h1>Provide Process Status</h1>
                        <p>You can track the process from registration to termination when processing exchanges and returns, eliminating inquiries from the store</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">03</div>
                    <div class="card-text">
                        <h1>Apply a variety of campaigns</h1>
                        <p>Various campaigns that promote promotions at the headquarters, such as coupons, discounts, price cuts, 1+1, mileage accrual and use, are applicable</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">04</div>
                    <div class="card-text">
                        <h1>Mobile Extension Services</h1>
                        <p>Provides mobile services that enable authorized store managers to efficiently handle tasks outside the store (return, inventory inspection..)</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">05</div>
                    <div class="card-text">
                        <h1>Best UI/UX</h1>
                        <p>Based on 20 years of experience and know-how, the most convenient and easy-to-use menu composition and screen design in the store</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="layout-md visible card type2" data-aos="fade-right" data-aos-duration="800">
            <div class="cards type2">
                <div class="solution-slider">
                    <div class="slider-list-wrap">
                        <div class="slider-list">
                            <div class="head">POS Example Screen</div>
                            <ul class="text-pagi">
                                <li class="active">Product sales processing</li>
                                <li>Product sales processing</li>
                                <li>Ordering goods</li>
                                <li>Store-to-store exchange of goods</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="swiper mySwiper2 pos">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/pos_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/pos_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/pos_3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/pos_4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>