<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Solution - Analysis</title>
    <link rel="stylesheet" href="/assets/lib/swiper.min.css">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Solution</h1>
                    <p class="sub-tit">
                        Analysis
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/en/solution01" class="tab">Solution Overview</a>
                <a href="/en/solution02" class="tab">ERP</a>
                <a href="/en/solution03" class="tab">POS</a>
                <a href="/en/solution04" class="tab">OMS</a>
                <a href="/en/solution05" class="tab">WMS</a>
                <a href="/en/solution06" class="tab ">SCM</a>
                <a href="/en/solution07" class="tab">Promotion</a>
                <a href="/en/solution08" class="tab">RPA</a>
                <a href="/en/solution09" class="tab">e-Accounting</a>
                <a href="/en/solution10" class="tab">Customer DBMS</a>
                <a href="/en/solution11" class="tab">e-Shop</a>
                <a href="/en/solution12" class="tab active">Analysis</a>
                <a href="/en/solution13" class="tab">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>Analysis Introduction Effect</h2>
                <p>Role of generating and providing information that can be used in various aspects to increase sales rate</p>
            </div>
        </div>
        <div class="layout-md visible card type1" data-aos="fade-left" data-aos-duration="800">
            <div class="cards type1 analyze">
                <div class="card">
                    <div class="card-num">01</div>
                    <div class="card-text">
                        <h1>Use standard forms</h1>
                        <p>Retail Maximizes information utilization by providing an analysis form suitable for the wholesale/retail distribution industry.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">02</div>
                    <div class="card-text">
                        <h1>Provision of authority for each task manager</h1>
                        <p>Supports the information management system by limiting access to Hwasa's high-level and confidential information by job responsibility.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">03</div>
                    <div class="card-text">
                        <h1>Analysis/reporting support</h1>
                        <p>Easy report creation by providing a function that allows users to conveniently analyze information in the provided form (Excel linkage/pivot table)</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="layout-md visible card type2" data-aos="fade-right" data-aos-duration="800">
            <div class="cards type2">
                <div class="solution-slider">
                    <div class="slider-list-wrap">
                        <div class="slider-list">
                            <div class="head">Analysis Example Screen</div>
                            <ul class="text-pagi">
                                <li class="active">Sales performance by brand and store</li>
                                <li>Real-time sales status by month/day/store 
                                    compared to previous year</li>
                                <li>Sales status by day/time</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="swiper mySwiper2 analyze">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/analyze_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/analyze_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/analyze_3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>