<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Solution - RPA</title>
    <link rel="stylesheet" href="/assets/lib/swiper.min.css">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Solution</h1>
                    <p class="sub-tit">
                        RPA
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/en/solution01" class="tab">Solution Overview</a>
                <a href="/en/solution02" class="tab">ERP</a>
                <a href="/en/solution03" class="tab">POS</a>
                <a href="/en/solution04" class="tab">OMS</a>
                <a href="/en/solution05" class="tab">WMS</a>
                <a href="/en/solution06" class="tab ">SCM</a>
                <a href="/en/solution07" class="tab">Promotion</a>
                <a href="/en/solution08" class="tab active">RPA</a>
                <a href="/en/solution09" class="tab">e-Accounting</a>
                <a href="/en/solution10" class="tab">Customer DBMS</a>
                <a href="/en/solution11" class="tab">e-Shop</a>
                <a href="/en/solution12" class="tab">Analysis</a>
                <a href="/en/solution13" class="tab">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>RPA Introduction Effect</h2>
                <p>Systematic automation for standardized simple iterative tasks</p>
            </div>
        </div>
        <div class="layout-md visible card type1" data-aos="fade-left" data-aos-duration="800">
            <div class="cards type1 rpa">
                <div class="card">
                    <div class="card-num">01</div>
                    <div class="card-text">
                        <h1>Automated formalized iterations</h1>
                        <p>Facilitates work efficiency by systematically automating formalized iterative tasks with established processes</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">02</div>
                    <div class="card-text">
                        <h1>Prevent accidents and missing tasks</h1>
                        <p>Eliminates business losses due to mistakes and missing processing by the person in charge</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">03</div>
                    <div class="card-text">
                        <h1>Processing status monitoring support</h1>
                        <p>Facilitates follow-up by providing monitoring of tasks automatically handled by the system</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">04</div>
                    <div class="card-text">
                        <h1>Smart Business Processing</h1>
                        <p>Smartize tasks by automating iterative processing through process improvement and establishment</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="layout-md visible card type2" data-aos="fade-right" data-aos-duration="800">
            <div class="cards type2">
                <div class="solution-slider">
                    <div class="slider-list-wrap">
                        <div class="slider-list">
                            <div class="head">RRPA Example Screen</div>
                            <ul class="text-pagi">
                                <li class="active">Process flow and work command settings 1</li>
                                <li>Process flow and work command settings 2</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="swiper mySwiper2 rpa">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/rpa_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/rpa_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>