<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Solution - Platform</title>
    <link rel="stylesheet" href="/assets/lib/swiper.min.css">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Solution</h1>
                    <p class="sub-tit">
                        Platform
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/en/solution01" class="tab">Solution Overview</a>
                <a href="/en/solution02" class="tab">ERP</a>
                <a href="/en/solution03" class="tab">POS</a>
                <a href="/en/solution04" class="tab">OMS</a>
                <a href="/en/solution05" class="tab">WMS</a>
                <a href="/en/solution06" class="tab ">SCM</a>
                <a href="/en/solution07" class="tab">Promotion</a>
                <a href="/en/solution08" class="tab">RPA</a>
                <a href="/en/solution09" class="tab">e-Accounting</a>
                <a href="/en/solution10" class="tab">Customer DBMS</a>
                <a href="/en/solution11" class="tab">e-Shop</a>
                <a href="/en/solution12" class="tab">Analysis</a>
                <a href="/en/solution13" class="tab active">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>Platform Introduction Effect</h2>
                <p>Convenient and reliable features to improve system management efficiency and reduce TCO</p>
            </div>
        </div>
        <div class="layout-md visible card type1" data-aos="fade-left" data-aos-duration="800">
            <div class="cards type1 platform">
                <div class="card">
                    <div class="card-num">01</div>
                    <div class="card-text">
                        <h1>Streamline system operations</h1>
                        <p>Reduce TCO by standardizing system operations and management</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">02</div>
                    <div class="card-text">
                        <h1>Provides scalability for business change</h1>
                        <p>Provides systematic scalability to shrink and scale and organizational change</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">03</div>
                    <div class="card-text">
                        <h1>Work convenience support</h1>
                        <p>Effectively supports user-specific tasks by providing standard functions such as community configuration, user-specific menu configuration, and permission management</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-num">04</div>
                    <div class="card-text">
                        <h1>Support for system scalability</h1>
                        <p>Maintain system unity by applying a standard framework for business expansion and change</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="layout-md visible card type2" data-aos="fade-right" data-aos-duration="800">
            <div class="cards type2">
                <div class="solution-slider">
                    <div class="slider-list-wrap">
                        <div class="slider-list">
                            <div class="head">Platform Example Screen</div>
                            <ul class="text-pagi">
                                <li class="active">Configuring Portal</li>
                                <li>Setting Program/User-Specific Task Privileges</li>
                                <li>Workflow Settings</li>
                                <li>Community Configuration</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="swiper mySwiper2 platform">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/platform_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/platform_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/platform_3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="note-book">
                                    <img src="/assets/img/notebook.png" alt="">
                                    <div class="frame">
                                        <img src="/assets/img/platform_4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/swiper.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>