<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Solution - 솔루션 개요</title>
    <link rel="stylesheet" href="/assets/lib/swiper.min.css">
    <link rel="stylesheet" href="/assets/lib/aos.css">
    <link rel="stylesheet" href="/assets/lib/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>
    <%- include('header.ejs') %>
    <main>
        <div class="banner detail solution">
            <div class="layout-md">
                <div class="tit-wrap" data-aos="fade">
                    <h1 class="tit">Solution</h1>
                    <p class="sub-tit">
                        Solution Overview
                    </p>
                </div>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tab">
                <a href="/en/solution01" class="tab active">Solution Overview</a>
                <a href="/en/solution02" class="tab">ERP</a>
                <a href="/en/solution03" class="tab">POS</a>
                <a href="/en/solution04" class="tab">OMS</a>
                <a href="/en/solution05" class="tab">WMS</a>
                <a href="/en/solution06" class="tab">SCM</a>
                <a href="/en/solution07" class="tab">Promotion</a>
                <a href="/en/solution08" class="tab">RPA</a>
                <a href="/en/solution09" class="tab">e-Accounting</a>
                <a href="/en/solution10" class="tab">Customer DBMS</a>
                <a href="/en/solution11" class="tab">e-Shop</a>
                <a href="/en/solution12" class="tab">Analysis</a>
                <a href="/en/solution13" class="tab">Platform</a>
            </div>
        </div>
        <div class="layout-md">
            <div class="page-tit type2">
                <h2>Solution Overview</h2>
                <p>Discover YJ Innovation's solutions at a glance.</p>
            </div>
        </div>
        <div class="layout-md">
            <ul class="solution-items">
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>ERP</h1>
                        <img src="/assets/img/solution-img01.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>Product planning and production orders</li>
                            <li>Store and Marketing Management</li>
                            <li>Distribution and forwarding instruction commodity cost management</li>
                            <li>repurchase</li>
                            <li>Settlement (Interim Management, Department Store, Fees, Loss)</li>
                            <li>Consumables and Deposit Management</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>Processing of information on the procedure of retail distribution business</li>
                            <li>Planning > Production > Order > Incoming > Forwarding > Sales > Settlement > Inventory</li>
                            <li>Multi-brand, supporting various distribution networks</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>POS</h1>
                        <img src="/assets/img/solution-img02.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>Sales and return consignment/in-house product management</li>
                            <li>Inventory inspection and settlement</li>
                            <li>Settlement of Key Amount and Fees</li>
                            <li>Moving and inventory status</li>
                            <li>Promotion Features</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>Integrated store management system for store business</li>
                            <li>Provides customer care and promotion capabilities</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>e_Shop<br>(B2C)</h1>
                        <img src="/assets/img/solution-img03.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>B2C product information and sales information setting</li>
                            <li>Shopping Basket and Payment Management</li>
                            <li>Delivery information and progress management</li>
                            <li>Monitoring Sales Status</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>Internet shopping mall service</li>
                            <li>Interworking with courier</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>WMS</h1>
                        <img src="/assets/img/solution-img04.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>Logistics planning</li>
                            <li>Warehousing/inspection/shipment/return/stock management</li>
                            <li>Location setting and management, work order and progress management</li>
                            <li>Auto Warehouse/Sorter/DAS/ERP Interworking</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>물류창고의 효율적인 운영을 지원하는 시스템</li>
                            <li>PDA를 활용하여 현장에서 실시간 작업처리</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>SCM<br>(B2B)</h1>
                        <img src="/assets/img/solution-img05.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>Establishment of B2B client ratings and management of agreements</li>
                            <li>Ordering goods</li>
                            <li>Customer Request Image and Stationery Engraving Service</li>
                            <li>Order progress management Forwarding and progress management</li>
                            <li>SMS and Mailing Features</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>Information about ordering B2B products</li>
                            <li>Apply real-time customer order details (individual service)</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>Customer DBMS</h1>
                        <img src="/assets/img/solution-img06.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>Collect customer information and apply security regulations</li>
                            <li>SMS and Mailing</li>
                            <li>Mileage Management</li>
                            <li>Customer Operations Analysis</li>
                            <li>Mileage settlement</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>Processing of information by customer information collection procedure</li>
                            <li>Support for security systems based on customer information processing guidelines</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>Promotion</h1>
                        <img src="/assets/img/solution-img07.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>Mileage Accrual and Disposal</li>
                            <li>Coupons, discount coupons, events, points</li>
                            <li>Promotion Enforcement and Settlement</li>
                            <li>SMS and Mailing</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>Provides a variety of marketing templates to promote sales</li>
                            <li>Establishment and settlement of promotional share ratio with the seller</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>OMS</h1>
                        <img src="/assets/img/solution-img08.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>Setting product information and sales information</li>
                            <li>Monitoring Upload Results</li>
                            <li>Collect sales (order) details and monitor abnormal information</li>
                            <li>Forwarding instruction through ERP</li>
                            <li>Delivery status I/F</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>Information Processing for Interworking with Internet Sales Channels</li>
                            <li>Provide ordering and transportation information from time to time with WMS</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>e-Accounting</h1>
                        <img src="/assets/img/solution-img09.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>Interworking with personal corporate credit card</li>
                            <li>PO and PR management</li>
                            <li>Payment path and electronic payment</li>
                            <li>Tax invoices, automatic bank transfers linked</li>
                            <li>Outstanding balance and payment processing</li>
                            <li>Automatic slip generation</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>Support the process for spending to customers and employees</li>
                            <li>Management of budget by Coster Center and Budget Subjects</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>Process
                            Automation RPA</h1>
                        <img src="/assets/img/solution-img10.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>Set collection and processing target information paths and properties</li>
                            <li>Monitoring the collection status</li>
                            <li>Set Processing Rule</li>
                            <li>Monitoring Processing Results</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>Inquiry of customer order status, automatic receipt, and application of ordering work</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>Analysis</h1>
                        <img src="/assets/img/solution-img11.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>Progress status compared to planning</li>
                            <li>Cost analysis</li>
                            <li>Sales analysis by sales destination</li>
                            <li>Sales trend</li>
                            <li>Product life cycle</li>
                            <li>Customer sales status</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>Provide analysis information to executives and employees for decision-making</li>
                            <li>Creating a Big Data Collection System</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-right" data-aos-duration="800">
                    <div class="solution-item-img">
                        <h1>Platform</h1>
                        <img src="/assets/img/solution-img12.png" alt="">
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Function</div>
                        <ul class="info-list">
                            <li>Community</li>
                            <li>Manage users and programs</li>
                            <li>System Access Control</li>
                            <li>Menu Configuration and Management</li>
                            <li>Common Function</li>
                            <li>Log management</li>
                        </ul>
                    </div>
                    <div class="solution-item-info">
                        <div class="info-head">Features</div>
                        <ul class="info-list">
                            <li>Efficient system operation and proactive response to environmental changes</li>
                            <li>Mainframe role to reduce TCO costs</li>
                        </ul>
                    </div>
                </li>
            </ul>
            
        </div>
    </main>
    <%- include('footer.ejs') %>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/include.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>